[2019-02-06 10:54] bjornwgnr opened #1 "Overview & tracking"
(data merged with [#578](https://github.com/paritytech/substrate/issues/578))  cc/ @0x7CFE

Priority: `P1`, `P2`, `P3`

## TOPBAR

[Ask a question](https://substrate.readme.io/discuss) [either links to on-hub discussion section or [stackoverflow](https://stackoverflow.com/questions/ask?tags=substrate]
[Chat with us](https://riot.im/app/#/room/!HzySYSaIhtyWrwiwEV:matrix.org)

## Home `P2`

- How to

[2019-02-06 14:30] gautamdhameja opened #3 "Process for adding documentation"
JOE EDIT:

I propose the following review process to improve and speed up the review process:

1. Get review from person who wrote the code. Make sure the documentation is accurate.
2. Get review from another person in the docs team. This person should (a) get a clear understanding of the module by reading your documentation and (b) review the code to ensure that the code matches his or her interp

[2019-02-12 10:55] Stefie opened #4 "Runtime architecture"
Create table of contents for a developer story.

[2019-02-22 10:08] bjornwgnr opened #5 "Add link to parity-samples repo"

[2019-02-25 12:08] bjornwgnr opened #6 "rustdoc docs generator for master & all Substrate versions released on crates.io"
docs.rs (https://github.com/rust-lang/docs.rs) has a nice UI and supports versioning, unfortunately they don't host docs for master (only for versions released on crates.io).

[2019-02-27 11:07] shawntabrizi opened #7 "Module type"

[2019-02-27 11:13] shawntabrizi opened #8 "decl_module"

[2019-02-27 11:14] shawntabrizi opened #9 "decl_storage"

[2019-02-27 11:14] shawntabrizi opened #10 "decl_event"

[2019-02-27 11:15] shawntabrizi opened #11 "construct_runtime"

[2019-02-27 11:16] shawntabrizi opened #12 "Call type"

[2019-02-27 11:17] shawntabrizi opened #13 "Origin type"

[2019-02-27 11:17] shawntabrizi opened #14 "Inherent type"

[2019-02-27 11:22] #8 closed, assigned to shawntabrizi

[2019-02-27 11:23] #11 closed, assigned to shawntabrizi

[2019-02-27 11:24] shawntabrizi opened #15 "Storage type"

[2019-02-27 11:25] shawntabrizi opened #16 "Config type"

[2019-02-27 11:25] shawntabrizi opened #17 "Event type"

[2019-02-27 11:26] shawntabrizi opened #18 "Log type"

[2019-02-27 11:28] shawntabrizi opened #19 "Substrate Runtime Module Development vs Ethereum Smart Contract Development"
Update 3/25/19:

I think it is reasonable hypothesis that people who are looking to develop on Substrate are familiar with or have worked with Solidity in the past. People who are less technical may be able to evaluate which kinds of apps would be suitable as an Ethereum smart contract (business oriented) and those who are actual contract developers may have developed thought processes or patterns

[2019-02-27 11:34] shawntabrizi opened #20 "Dos and Do Nots of Runtime Module Development"
This might need to be more than one page, and would need someone to come up with a larger plan on what content will be here, and how we will present it

[2019-02-27 11:39] shawntabrizi opened #21 "Organize, Refactor, and Add Runtime Recipes"
This item should be broken down into multiple new issues.

 - [ ] Needs someone to think about whether we should have all recipes on the same page as it is now, or start to break things up and organize them

- [ ] Need to make sure that all recipes are consistent and self-sufficient to run

 - [ ] Need to think about other recipes which should be included

[2019-02-27 11:44] shawntabrizi opened #22 "Assets Module"
Custom Documentation:

- [ ] The purpose of the module
- [ ] Explanation of the real world users and their role/interactions with the module
- [ ] Key logic, processes, or assumptions that happen within the module
- [ ] Details on how a module easily integrates with other associated modules

Rust Docs:

- [ ] Available storage items and what they hold
- [ ] Public Functions
- [ ] Internal Function

[2019-02-27 11:46] shawntabrizi opened #23 "Aura Module"
Custom Documentation:

- [ ] The purpose of the module
- [ ] Explanation of the real world users and their role/interactions with the module
- [ ] Key logic, processes, or assumptions that happen within the module
- [ ] Details on how a module easily integrates with other associated modules

Rust Docs:

- [ ] Available storage items and what they hold
- [ ] Public Functions
- [ ] Internal Function

[2019-02-27 11:47] shawntabrizi opened #24 "Balances Module"
Custom Documentation:

- [ ] The purpose of the module
- [ ] Explanation of the real world users and their role/interactions with the module
- [ ] Key logic, processes, or assumptions that happen within the module
- [ ] Details on how a module easily integrates with other associated modules

Rust Docs:

- [ ] Available storage items and what they hold
- [ ] Public Functions
- [ ] Internal Function

[2019-02-27 11:47] shawntabrizi opened #25 "Consensus Module"
Custom Documentation:

- [ ] The purpose of the module
- [ ] Explanation of the real world users and their role/interactions with the module
- [ ] Key logic, processes, or assumptions that happen within the module
- [ ] Details on how a module easily integrates with other associated modules

Rust Docs:

- [ ] Available storage items and what they hold
- [ ] Public Functions
- [ ] Internal Function

[2019-02-27 11:48] shawntabrizi opened #26 "Contract Module"
Custom Documentation:

- [x] The purpose of the module
- [ ] Explanation of the real world users and their role/interactions with the module
- [x] Key logic, processes, or assumptions that happen within the module
- [ ] Details on how a module easily integrates with other associated modules

Rust Docs:

- [ ] Available storage items and what they hold
- [x] Public Functions
- [x] Internal Function

[2019-02-27 11:48] shawntabrizi opened #27 "Council Module"
Custom Documentation:

- [ ] The purpose of the module
- [ ] Explanation of the real world users and their role/interactions with the module
- [ ] Key logic, processes, or assumptions that happen within the module
- [ ] Details on how a module easily integrates with other associated modules

Rust Docs:

- [ ] Available storage items and what they hold
- [ ] Public Functions
- [ ] Internal Function

[2019-02-27 11:48] shawntabrizi opened #28 "Democracy Module"
Custom Documentation:

- [ ] The purpose of the module
- [ ] Explanation of the real world users and their role/interactions with the module
- [ ] Key logic, processes, or assumptions that happen within the module
- [ ] Details on how a module easily integrates with other associated modules

Rust Docs:

- [ ] Available storage items and what they hold
- [ ] Public Functions
- [ ] Internal Function

[2019-02-27 11:52] shawntabrizi opened #29 "Example Module"
Custom Documentation:

- [ ] The purpose of the module
- [ ] Explanation of the real world users and their role/interactions with the module
- [ ] Key logic, processes, or assumptions that happen within the module
- [ ] Details on how a module easily integrates with other associated modules

Rust Docs:

- [ ] Available storage items and what they hold
- [ ] Public Functions
- [ ] Internal Function

[2019-02-27 11:52] shawntabrizi opened #30 "Executive in SRML"
Custom Documentation:

- [ ] The purpose of the module
- [ ] Explanation of the real world users and their role/interactions with the module
- [ ] Key logic, processes, or assumptions that happen within the module
- [ ] Details on how a module easily integrates with other associated modules

Rust Docs:

- [ ] Available storage items and what they hold
- [ ] Public Functions
- [ ] Internal Function

[2019-02-27 11:53] shawntabrizi opened #31 "Fees Module"
Custom Documentation:

- [ ] The purpose of the module
- [ ] Explanation of the real world users and their role/interactions with the module
- [ ] Key logic, processes, or assumptions that happen within the module
- [ ] Details on how a module easily integrates with other associated modules

Rust Docs:

- [ ] Available storage items and what they hold
- [ ] Public Functions
- [ ] Internal Function

[2019-02-27 11:53] shawntabrizi opened #32 "Grandpa Module"
Custom Documentation:

- [ ] The purpose of the module
- [ ] Explanation of the real world users and their role/interactions with the module
- [ ] Key logic, processes, or assumptions that happen within the module
- [ ] Details on how a module easily integrates with other associated modules

Rust Docs:

- [ ] Available storage items and what they hold
- [ ] Public Functions
- [ ] Internal Function

[2019-02-27 11:55] shawntabrizi opened #33 "Indices Module"
Custom Documentation:

- [ ] The purpose of the module
- [ ] Explanation of the real world users and their role/interactions with the module
- [ ] Key logic, processes, or assumptions that happen within the module
- [ ] Details on how a module easily integrates with other associated modules

Rust Docs:

- [ ] Available storage items and what they hold
- [ ] Public Functions
- [ ] Internal Function

[2019-02-27 11:56] shawntabrizi opened #34 "Metadata in SRML"
Metadata in the SRML is the final layer between the blockchain node and the underlying JavaScript APIs allowing you to call into the Runtime.

Users who want to learn more about the SRML will probably want answers to the following:

* How is the metadata generated?
* What is the general structure of the metadata, and what information can I find in it?
* How can I fetch the metadata via a raw RPC c

[2019-02-27 11:57] shawntabrizi opened #35 "Session Module"
Custom Documentation:

- [ ] The purpose of the module
- [ ] Explanation of the real world users and their role/interactions with the module
- [ ] Key logic, processes, or assumptions that happen within the module
- [ ] Details on how a module easily integrates with other associated modules

Rust Docs:

- [ ] Available storage items and what they hold
- [ ] Public Functions
- [ ] Internal Function

[2019-02-27 11:57] shawntabrizi opened #36 "Staking Module"
Custom Documentation:

- [ ] The purpose of the module
- [ ] Explanation of the real world users and their role/interactions with the module
- [ ] Key logic, processes, or assumptions that happen within the module
- [ ] Details on how a module easily integrates with other associated modules

Rust Docs:

- [ ] Available storage items and what they hold
- [ ] Public Functions
- [ ] Internal Function

[2019-02-27 11:58] shawntabrizi opened #37 "Sudo Module"
Custom Documentation:

- [x] The purpose of the module
- [ ] Explanation of the real world users and their role/interactions with the module
- [x] Key logic, processes, or assumptions that happen within the module
- [x] Details on how a module easily integrates with other associated modules

Rust Docs:

- [x] Available storage items and what they hold
- [x] Public Functions
- [x] Internal Function

[2019-02-27 12:01] shawntabrizi opened #38 "Support tools for SRML"
In modules folder there is a `support` folder which needs documention

[2019-02-27 13:00] shawntabrizi opened #39 "System Module"
Custom Documentation:

- [ ] The purpose of the module
- [ ] Explanation of the real world users and their role/interactions with the module
- [ ] Key logic, processes, or assumptions that happen within the module
- [ ] Details on how a module easily integrates with other associated modules

Rust Docs:

- [ ] Available storage items and what they hold
- [ ] Public Functions
- [ ] Internal Function

[2019-02-27 13:00] shawntabrizi opened #40 "Timestamp Module"
Custom Documentation:

- [ ] The purpose of the module
- [ ] Explanation of the real world users and their role/interactions with the module
- [ ] Key logic, processes, or assumptions that happen within the module
- [ ] Details on how a module easily integrates with other associated modules

Rust Docs:

- [ ] Available storage items and what they hold
- [ ] Public Functions
- [ ] Internal Function

[2019-02-27 13:01] shawntabrizi opened #41 "Treasury Module"
Custom Documentation:

- [ ] The purpose of the module
- [ ] Explanation of the real world users and their role/interactions with the module
- [ ] Key logic, processes, or assumptions that happen within the module
- [ ] Details on how a module easily integrates with other associated modules

Rust Docs:

- [ ] Available storage items and what they hold
- [ ] Public Functions
- [ ] Internal Function

[2019-02-27 13:02] shawntabrizi opened #42 "Upgrade Key Module"
Custom Documentation:

- [ ] The purpose of the module
- [ ] Explanation of the real world users and their role/interactions with the module
- [ ] Key logic, processes, or assumptions that happen within the module
- [ ] Details on how a module easily integrates with other associated modules

Rust Docs:

- [ ] Available storage items and what they hold
- [ ] Public Functions
- [ ] Internal Function

[2019-02-27 13:33] shawntabrizi opened #43 "Architecture of a Runtime Overview"

[2019-02-27 13:48] shawntabrizi opened #44 "SRML Documentation Template"
We need to create a markdown template for SRML documentation

[2019-02-27 13:50] shawntabrizi opened #45 "Improve UX when navigating between docusaurus, rustdocs, recipes, kitties, etc"
* What will it feel like to have a user jump to a different page to see documentation that we are keeping with the source code
* Are there things we can do to minimize confusion and maximize discoverability
* Is there some format we need to follow with our direct links so that redirects do not break and do not become stale with updates

[2019-02-27 14:05] #4 closed, assigned to Stefie, shawntabrizi

[2019-02-27 15:02] #3 closed, assigned to shawntabrizi

[2019-02-28 09:30] shawntabrizi opened #46 "Vision for Substrate 1.0 Docs"
I believe effective documentation tells a story, and makes it clear to the user the story we are telling. Documentation which tells a story tends to be concise and has limited redundancy, whereas individual pages on different topics may repeat the same shared content over and over. Finally, if a user understand the story we are trying to tell, they should be better able to navigate through our doc

[2019-02-28 09:30] #46 closed, assigned to shawntabrizi

[2019-02-28 13:27] kianenigma opened #47 "Substrate VSCode/Sublime snippets plugin"
With the current rush on docs this is no priority but something that has been on my mind for a while:

- Assuming that VSCode is the editor of choice for most rust devs:
- VSCode + RLS has relatively good support for rust projects with auto-imports, Intellisense, and inline error report. If the project is huge it takes a while to compile under the hood and get the errors but no complaints here.
-

[2019-03-04 15:30] bjornwgnr opened #48 "Internationalization (i18n)"
Internationalization of Substrate Dev Hub (not reference docs). Likely target languages are Mandarin, Russian and Spanish.

[2019-03-11 17:02] lsaether opened #49 "Bonded Token Tutorial"
As per the call earlier today I'm opening an issue to track the tutorial I wrote about bonding curve tokens as a Substrate runtime module. All the code compiles and is complete through a minimal token which is minted / burned from a bonding curve. The implementation could be expanded and the tutorial leaves off before describing the UI portion (the UI code is available in the repo and should be ab

[2019-03-12 09:47] shawntabrizi commented on #21
@AmarRSingh https://amarrsingh.github.io/SubstrateCookbook/main/start.html

[2019-03-12 12:37] shawntabrizi commented on #44
From @joepetrowski

Docs Template
=

## Overview

Short paragraph about the purpose of the module.

### Terminology

Concepts, storage items, or actions that you think deserve to be noted to give context to the rest of the documentation or module usage.

The author needs to use some judgment about what is included. We don't want a list of every storage item nor types - the user can go to the code

[2019-03-12 13:26] AmarRSingh commented on #44
## Overview

## Interface

### Types

### Dispatchable
full list with origin

### Public

## Usage

### Prerequisites

### Simple Code Snippet

### Example from SRML

## Genesis Config

## Related Modules

## References

[2019-03-12 14:00] shawntabrizi commented on #44
Template is tentatively finalized.

[2019-03-12 14:00] #44 closed

[2019-03-12 15:56] shawntabrizi commented on #43
Some basic HTML which may be used:
https://hackmd.io/RA7mW5VXQnqviOMK7JBI0Q?view#

[2019-03-12 16:30] shawntabrizi commented on #49
@lsaether I noticed, in a quick review, you have some `init()` logic in your code. Are you familiar with the genesis config? Is there a reason not to use it here instead?

[2019-03-13 00:15] shawntabrizi commented on #49
Welcome @lsaether. I gave your code a review earlier today and opened a number of issues which should help make your code a bit better :)

The tutorial, in my opinion is cool, but not a priority in the short term. See if you feel comfortable to grab some of the existing open issues around documenting Substrate in the context of the v1 release.

Feel free to reach out to me or others directly to he

[2019-03-14 12:07] ltfschoen commented on #44
FYI, note that I'm in the process of incorporating this template into https://github.com/paritytech/substrate/pull/1947

[2019-03-14 14:41] shawntabrizi commented on #42
upgrade-key should be removed from SRML

[2019-03-14 14:41] #42 closed

[2019-03-14 15:30] AmarRSingh commented on #38
https://github.com/paritytech/substrate/issues/1981

[2019-03-14 22:39] Kianenigma commented on #38
I can tackle this @shawntabrizi @AmarRSingh .

[2019-03-14 23:03] shawntabrizi commented on #29
https://github.com/paritytech/substrate/pull/1947

[2019-03-15 09:33] shawntabrizi commented on #38
@Kianenigma please assign yourself to both issues :)

You will probably need to come up with your own template of sorts since support is quite different.

Just get the data written down, and we can iterate on format later :)

[2019-03-15 10:54] #40 closed

[2019-03-15 13:59] shawntabrizi commented on #40
🥇

[2019-03-16 14:26] shawntabrizi commented on #42
Pull request to remove this module is here:
https://github.com/paritytech/substrate/pull/2018

[2019-03-16 14:27] shawntabrizi commented on #37
Pull request with this documentation can be found here:
https://github.com/paritytech/substrate/pull/2017

[2019-03-16 14:33] joepetrowski commented on #33
WIP: https://github.com/paritytech/substrate/compare/joe-indices-docs

cc: @gavofyork

[2019-03-16 16:08] shawntabrizi opened #50 "Update all documentation to use `decl_dispatch`"
Substrate has renamed the `decl_module` macro to `decl_dispatch`:
https://github.com/paritytech/substrate/issues/1960

We need to update all documentation accordingly.

[2019-03-17 11:52] brenzi opened #51 "documentation: transaction lifetime sequence diagram"
I propose a documentation diagram to understand what happens with a transaction within substrate.

After a discussion below #1789 I'll be adding single diagrams per issue over here.

![tx-seq](https://github.com/brenzi/substrate-doc/raw/master/transaction-sequence-diagram.svg?sanitize=true)

please consider using this diagram for substrate docs.

[2019-03-17 11:54] brenzi opened #52 "documentation: full client components"
The following draw.io diagram shall give an overview over full client components and the usage of native/wasm

![full-components](https://github.com/brenzi/substrate-doc/raw/master/FullComponents.svg?sanitize=true)

improves #578

[2019-03-17 11:55] brenzi opened #53 "documentation: service instances"
The following instance diagram is shows the components instanciated by substrate service

![service](https://github.com/brenzi/substrate-doc/raw/master/ServiceInstance.svg?sanitize=true)

improves #578

[2019-03-18 17:35] shawntabrizi commented on #43
On Readme here: https://docs.substrate.dev/v1.0.0/docs/architecture-of-a-runtime
Still "private"

[2019-03-18 17:36] shawntabrizi commented on #31
@AmarRSingh I think Gav is going to remove the fees module, so this doc may not be needed anymore :(

So de-prioritize it if you are still working on it at all.

[2019-03-18 17:36] #31 closed

[2019-03-20 10:07] shawntabrizi opened #54 "Template/Plan for Documentation of Substrate Types"
Need to come up with a plan for documenting types.

I think it should attempt to explain to the user:
* Which objects are created from each macro
* What those objects look like at a Module level
* What those objects look like when combined at the Construct Runtime Level
* How those objects ultimately get used exposed at the Javascript API or metadata endpoint

[2019-03-20 10:16] shawntabrizi commented on #54
Going to dump some stuff from `node-runtime` generated code:

[code]

[code]

[code]

[code]

[2019-03-20 10:29] shawntabrizi opened #55 "Document that suggests to the user how to walk through our docs most effectively"
Just an idea, maybe reinforce the story we are trying to tell

[2019-03-20 17:12] shawntabrizi commented on #54
## Investigate Yourself

The contents of this page are meant to facilitate a high level understanding of the Substrate runtime.

If you would like to dig deeper, you can do so by investigating these types yourself:

1. Clone and build the main Substrate repo
2. Run the following command in the root folder to output to file the `Call` enum for the Sudo module:
[code]
3. Run the following command in

[2019-03-20 17:13] shawntabrizi commented on #54
https://hackmd.io/HLA5rUANTvu09jEYhaUwRg?view#

[2019-03-20 19:20] gautamdhameja commented on #17
In progress doc - https://hackmd.io/S-Ak_YXPSWi9m2cX--lQXA?view

[2019-03-21 12:59] gautamdhameja commented on #16
In progress doc here - https://hackmd.io/HGl8qEh9QjG3QwB-Evmx7A?view

[2019-03-21 16:26] shawntabrizi commented on #7
I am struggling a bit with this one.

Some ideas and code snippets sprawled here:
https://hackmd.io/fcQWzCFvSg2KDLm8LbJ7OA#

[2019-03-22 10:49] thiolliere commented on #9
could be an inspiration https://github.com/paritytech/wiki/blob/0ba25fb9586bd38c471adf9aefaa6fcb096fabe5/decl_storage.md

[2019-03-22 13:37] gautamdhameja opened #56 "Document SRML overview"
* High-level architecture of the modules sub-framework
* Brief overview of cross-cutting components (system, executive, support, runtime)

[2019-03-22 13:37] gautamdhameja commented on #56
In progress doc here - https://hackmd.io/qgJuuefSSjGBTuwOWU7C2w

[2019-03-23 04:17] ltfschoen commented on #9
yes its currently published https://wiki.parity.io/decl_storage

[2019-03-23 16:28] nczhu commented on #26
Pull request in:
https://github.com/paritytech/substrate/pull/2045

Could use more examples though

[2019-03-24 12:59] 4meta5 opened #57 "Community Building Initiatives"
As the codebase stabilizes, we need to start building a community around Substrate.

## Substrate Newsletter

* Weekly or biweekly newsletter highlighting open source projects that are being built with Substrate, related virtual and physical hackathons (see section below), conferences, and ongoing initiatives (virtual office hours, etc).

* I think I'm plugged into the teams that are building with

[2019-03-25 09:41] a13xndra commented on #57
Lots of great ideas @AmarRSingh!

Some questions come to my mind when deciding which community-building endeavors to pursue and how to pursue them:
- What is our goal with building a community around Substrate?
- Is our goal to get people to build chains and connect them to Polkadot? If so, do we want specific chains built? If so, should we orient hackathons around those?
- Is our goal to just hav

[2019-03-25 09:57] nczhu commented on #57
These are all great ideas!

Some random thoughts building on them:

i) Maybe the newsletter can be redistributed through various channels: reddit, public forum, etc. I'm getting teh sense that folks in this space use email less and less :)

ii) `collect profiles of projects building on Substrate and put those on the blog` @a13xndra , I'll help with this! Researching teams and collating questions f

[2019-03-25 10:30] shawntabrizi commented on #43
Not private anymore, but not all links work. Still good content to have up imo

[2019-03-25 10:30] #43 closed

[2019-03-25 10:56] shawntabrizi commented on #36
Merged in with: https://github.com/paritytech/substrate/pull/2078

Can be found here: https://crates.parity.io/srml_staking/index.html

[2019-03-25 10:56] #36 closed

[2019-03-25 11:05] nczhu opened #58 "Update Documentation: decl_module"
Discussed with @shawntabrizi, updates #8

- [ ] refactor detailed explanations to be inline with code & autogenerated with rust docs
- [ ] update decl_module with a more high level explanation that reads more like a tutorial

[2019-03-25 14:08] shawntabrizi commented on #58
@nczhu try to gather some suggestions and feedback from @bkchr and @thiolliere for this

They are the macro gods (to me) and I think will have good suggestions how best to document this stuff.

[2019-03-25 23:56] shawntabrizi commented on #58
FYI, its no longer getting renamed :)

[2019-03-26 18:11] joepetrowski opened #59 "Create a style guide"
Create a style guide for consistent documentation.

For example, `my_function` vs `my_function()`.

[2019-03-26 22:59] shawntabrizi commented on #9
@thiolliere Should we close this?

[2019-03-26 23:05] shawntabrizi commented on #59
Some questions I would want answered:
[ ] Using `!` for `my_macro_name!`
[ ] Periods at the end of bullet lists
[ ] Full sentences/periods for inline code comments
[ ] Hardlinks vs relative links
[ ] UK vs US English
[ ] Capitalization of terms (module names, Substrate, etc...)

probably more, hopefully other will add to the list

[2019-03-26 23:07] shawntabrizi commented on #59
Should style guide also contain some documentation philosophy?

i.e. different kinds of docs:
* Reference Documentation
* Tutorials
* High Level Concepts
* etc...

"Precise, Concise, and Accurate"

etc...

[2019-03-27 07:34] joepetrowski commented on #59
I don't think this should include frameworks for different kinds of docs. The idea is that reading docs from Parity should have a similar feel, but not to define what each type of doc includes.

UK vs US English is hard, because there is no definition of either one. (As in, France actually has a state-run language academy). For "US English" there is AP style guide, Chicago manual of style, Strunk

[2019-03-27 08:17] folsen commented on #59
For function names, macros etc we should look to how Rust does it, it's deep enough that we should have some consistency with other Rust docs, assuming people have some familiarity with that already (or will have through reading the rust book first and things like that)

[2019-03-27 09:51] shawntabrizi commented on #59
@joepetrowski on Riot, I think we agreed to use US English before 1.0 release, which prompted me to make this issue: https://github.com/paritytech/substrate/issues/1768

[2019-03-27 10:50] thiolliere commented on #9
The doc doesn't mentionned metadata though.

And I don't know how we should organize high level doc on macros, like description of trie storage in SRML.

the rustdoc mentionned is in my opinion quite complete for using it

[2019-03-27 10:50] #9 closed

[2019-03-27 11:07] gautamdhameja commented on #14
Putting it in a later milestone as this is a lower priority item at the moment.

[2019-03-27 11:12] bkchr commented on #9
I would like to have some documentation that compiles and is run by doc tests in rust. So, we are actually sure that the documentation does not break.
Further I would add real code an no example code that shows the syntax we accept. Showing real code, makes it much faster understandable, especially if you are not familiar with macros.

[2019-03-27 11:13] gautamdhameja commented on #56
Published - https://docs.substrate.dev/docs/srml-overview. Closing this issue.

[2019-03-27 11:13] #56 closed

[2019-03-27 11:15] gautamdhameja commented on #50
It seems this rename is not happening -
https://github.com/paritytech/substrate-developer-hub/issues/58#issuecomment-476421703.
https://github.com/paritytech/substrate/issues/1960#issuecomment-476402438
Closing this issue.

[2019-03-27 11:15] #50 closed

[2019-03-27 14:07] shawntabrizi commented on #9
That is a great suggestion, and it seems we need to take advantage of [this feature](https://doc.rust-lang.org/rustdoc/documentation-tests.html#hiding-portions-of-the-example) to do that effectively in our docs.

[2019-03-27 17:08] shawntabrizi opened #61 "Make macro documentation consistent"
The main macro docs exist here:
- `decl_module!` - https://docs.substrate.dev/docs/decl_module
- `construct_runtime!` - https://docs.substrate.dev/docs/construct_runtime
- `decl_storage!` - https://crates.parity.io/srml_support_procedural/macro.decl_storage.html

We need to:
* Move information from Readme into the code as reference level documentation
* Decide if we want high level documentation a

[2019-03-28 10:26] gautamdhameja commented on #15
In progress doc here - https://hackmd.io/OjGJ6M9rQhK93aOh0R66Zg

[2019-03-28 14:11] gautamdhameja commented on #39
PR https://github.com/paritytech/substrate/pull/1999 merged. Closing this issue.

[2019-03-28 14:11] #39 closed

[2019-03-28 15:16] joepetrowski commented on #30
WIP: https://github.com/paritytech/substrate/compare/master..joe-exec-docs

[2019-03-28 16:23] shawntabrizi opened #62 "Update all existing docs to use US English"
More specifically, we need to update docs to match the results of:
https://github.com/paritytech/substrate/issues/1768

[2019-03-29 08:27] nczhu opened #63 "Tutorial: How to build an Oracle on Substrate (consensus based)"
Noticed the off-chain workers implementation was just merged:
https://github.com/paritytech/substrate/pull/1942

An Oracles tutorial, maybe a consensus based one, can build on different SRML functionalities and showcase this new feature. It also has been requested by the community and internal folks a few times.

Synced up with @gautamdhameja 's on his example on inherents : https://github.com/gau

[2019-03-29 08:53] nczhu opened #64 "Tutorial: Substrate with IPFS integration"
An example that showcases @gnunicorn 's work on IPFS x Substrate:
- https://forum.parity.io/t/ipfs-in-substrate-poc-1/218
- https://github.com/paritytech/substrate/tree/ben-ipfs

Depending on the final form ^, the sample/tutorial can go a few ways:
- A simple example showcasing how to configure IPFS in node-cli.
- An [advanced] tutorial on how to implement the IPFS integration as per Ben's prototy

[2019-03-29 09:09] 4meta5 opened #65 "Tutorial: Minimally Viable DAO on Substrate"
Porting MolochDAO to Substrate (in progress and will be open sourced soon!)

[2019-03-29 09:14] joepetrowski opened #66 "Off-Chain Computation Ideas"
A few ideas for off-chain computation:

- Tools for computationally heavy tasks (e.g. Fourier transforms)
- Oracles (will be better once http requests are merged)
- Supply chain (oracle for sensor data + off-chain compute, store result on chain. example: accelerometer measuring shock/vibration in transit, computing FFT off chain, storing [ASD](https://en.wikipedia.org/wiki/Spectral_density) (just

[2019-03-29 10:54] AmarRSingh commented on #66
* could be cool to make a price oracle that accounted for price slippage; so it would take the T::AccountId's balanceOf (amount staked) as an input and then estimate liquidity conditions (from exchanges) to calculate the price if the given account needed to immediately exit and sell

[2019-03-29 11:00] shawntabrizi commented on #12
Done: https://docs.substrate.dev/docs/call-enum

[2019-03-29 11:00] #12 closed

[2019-03-29 12:56] nczhu commented on #58
In progress: https://hackmd.io/s/Sy6T0usOE
Still need to fact check, then style check before EOD.

[2019-03-29 16:24] nczhu commented on #58
PR here:
https://github.com/paritytech/substrate/pull/2147

[2019-03-29 17:18] gautamdhameja commented on #16
Page published on readme - https://docs.substrate.dev/docs/genesisconfig-struct. Closing this issue.

[2019-03-29 17:18] #16 closed

[2019-03-29 17:19] gautamdhameja commented on #17
Page published - https://docs.substrate.dev/docs/event-enum. Closing this issue.

[2019-03-29 17:19] #17 closed

[2019-04-01 09:22] joepetrowski commented on #66
The problem with this is that block times are much greater than order-book latency, so a trading strategy would be to create an inefficiency by making a strong order book to give the illusion of liquidity, watching for unstaking events, and cancelling orders as soon as the first dust order was filled, removing the liquidity so the actual fill is at a much worse rate. All this could happen in an in

[2019-04-02 09:45] nczhu opened #67 "Tutorial: stablecoin example on Substrate"
A stable currency

The first feature could be a simple collateral contract

[2019-04-02 13:25] AmarRSingh commented on #66
In that case, could create a DEX that enforces some order-book latency greater than the block time. Also, could use a consensus mechanism that trades consistency for availability -- for faster block times with a some relatively higher probability of reversion. I need to understand rhododendron better, but what if we could get block times below order-book latency -- would that patch this attack?

A

[2019-04-02 14:28] joepetrowski commented on #66
Not really possible, for example, a lot of exchanges run on AWS. If you host your trading bot in the same data center as the exchange, latency for placing/cancelling orders is intra-building and only requires a single, one-way message. Latency for consensus is worldwide and involves multiple messages between peers.

[2019-04-02 21:23] nczhu commented on #41
IN progress: https://hackmd.io/s/Bku3OFyF4

[2019-04-03 10:53] nczhu commented on #41
Needs content review. Does anyone know who might be familiar with the original intent behind this module? It seems to be a work in progress.

https://hackmd.io/s/Bku3OFyF4

[2019-04-03 13:51] nczhu opened #68 "Sample/one-pager: on_initialize, on_finalize"
from @shawntabrizi :
On_finalize and on_initialize would be a perfect one-pager, especially talking about what they are good for with examples:

on finalize for storage clean up, fees, some sort of state verification, ...?
on initialize for storage migration, updates, long processes where you need as much computation time as possible (rather than at the end, where it may not complete past the reco

[2019-04-03 13:55] nczhu opened #69 "Sample: Genesis config"
Outlining what depends on the genesis config.

How to set up things like (and what they mean):
- total issuance
- existential depositi
- transfer fee
- vesting
- creation fee
etc.

how to set up genesis in testing, what's add_extra_genesis, etc.

[2019-04-03 13:59] nczhu opened #70 "Sample/one-pager: genesis config"
Explaining the Genesis Config in greater detail:

How to set up things like (and what they mean):
- total issuance
- existential deposit
- transfer fee
- vesting
- creation fee
etc.

How to create new storage variables for genesis, how to set up genesis in testing, when to use add_extra_genesis, etc.

[2019-04-03 14:02] nczhu commented on #69
dupe issue

[2019-04-03 14:02] #69 closed

[2019-04-03 16:32] nczhu opened #71 "Sample/one-pager: transaction queue, tags"
Good explanation/example here from: https://medium.com/@0x7cfe/7f0e0576768e

Explain how to use `taggedtrxqueue` api, explain `requires`, `priority` tags,  how trx are (and should be) prioritized

[2019-04-04 11:37] #24 closed

[2019-04-04 13:25] nczhu commented on #10
in progress here: https://hackmd.io/s/rkzKBt7K4

[2019-04-04 14:07] #59 closed

[2019-04-04 14:14] nczhu commented on #10
Actually, Guillaume has kindly already done this: https://crates.parity.io/srml_support/macro.decl_event.html

Marking as complete

[2019-04-04 14:14] #10 closed

[2019-04-04 14:43] nczhu commented on #34
Draft in progress: https://hackmd.io/3c-y_oAGTDOwMvm7fFZciA

[2019-04-04 15:42] nczhu commented on #6
The question is what version we want to show as a default, long term:
- Latest stable release version
- Pre-release version, with possible breaking changes and misleading documentation, i.e. the master branch

I think after 1.0.0 release (next few days?), we should default to showing the stable release. Which is also doc.rs' default.

However, we should make sure we can give users access to someth

[2019-04-04 15:56] bkchr commented on #6
I don't think that 1.0 will be on docs.rs. We still have some git dependencies and that prevents us from uploading stuff to crates.io.

We have crates.parity.io that already hosts the master docs.

[2019-04-07 01:37] shawntabrizi commented on #41
@nczhu I went down a hole that had me look into this module too... I agree it is weird. We should start a conversation with @gavofyork to better understand

[2019-04-07 08:27] nczhu commented on #41
Found this snippet yesterday, which indicates the original purpose.
Neat module - will write a sample for this!

[2019-04-09 13:30] ltfschoen opened #72 "Onboarding questionnaire + service brief + reputation system"
* Initial goal is to onboard members of an organisation (including non-technical people).
* Identify what actor/role they want to be (i.e. validator, nominator, collator, parachain builder, smart contract builder)
* Create questions to ask them that are tailored for the actor/role that they choose, focus on Staking, Council, and Balances modules initially
* Create a shared FAQ from the questions t

[2019-04-10 11:18] nczhu opened #73 "Documentation: custom assert macros (ensure, asset_noop, assert_eq_uvec)"
Need documentation inline for following Snippets:

[code]

[2019-04-10 11:19] nczhu commented on #67
Not an urgent tutorial, closing for now

[2019-04-10 11:19] #67 closed

[2019-04-10 11:20] nczhu commented on #63
closing as this is not urgent / a very large project, not a "tutorial"

[2019-04-10 11:20] #63 closed

[2019-04-10 14:40] nczhu commented on #64
closing for now bc its not urgent. i will go through the impl at some point and break down interesting bits for the readme

[2019-04-10 14:40] #64 closed

[2019-04-10 19:05] gautamdhameja commented on #70
We have a small part of the last point (How to create new storage variables for genesis) in the GenesisConfig Type doc - https://docs.substrate.dev/docs/genesisconfig-struct
Should be considered when writing this doc.

[2019-04-17 14:05] #37 closed

[2019-04-17 14:06] #23 closed

[2019-04-17 14:07] #30 closed

[2019-04-17 14:07] #26 closed

[2019-04-17 14:10] #25 closed

[2019-05-02 10:25] bjornwgnr commented on #22
@shawntabrizi Can this issue be closed via https://github.com/paritytech/substrate/pull/1945?

[2019-05-02 13:01] shawntabrizi commented on #22
Yes

[2019-05-02 13:01] #22 closed

[2019-05-04 22:27] ltfschoen commented on #27
https://github.com/paritytech/substrate/pull/2447

[2019-05-04 22:28] ltfschoen commented on #35
https://github.com/paritytech/substrate/pull/2283

[2019-05-04 22:29] ltfschoen commented on #35
i think this can be moved to done since it's been merged

[2019-05-04 22:32] ltfschoen commented on #29
i think this can be moved to DONE since it's been merged

[2019-05-04 22:33] ltfschoen commented on #28
https://github.com/paritytech/substrate/pull/2286

[2019-05-06 07:50] #35 closed

[2019-05-06 07:54] #41 closed

[2019-05-06 07:54] #29 closed

[2019-05-06 09:40] gautamdhameja opened #74 "Create a Workshop/Tutorial on Setting Up a Test Network with Multiple Peers"
Create a (node-template) test net and play around

- Story: “Put your own test network on the telemetry page”
- Better understand the chainspec, modify it
- Story of the node template
- 2-4 hour workshop where at the end, all users are connected to a single network

[2019-05-06 10:07] joepetrowski opened #75 "Detailed SRML Dependency Diagram"
Make diagram of SRML inter-dependencies.

[2019-05-06 13:16] shawntabrizi commented on #74
@JoshOrndorff

[2019-05-06 13:17] shawntabrizi opened #76 "Remove Substrate section of the Parity Wiki"
https://wiki.parity.io/Parity-Substrate

[2019-05-06 13:21] shawntabrizi opened #77 "Reference Docs Hand-off to Core Devs"
Ideas:

* Use CLI to make sure that docs are updated
* Add to contributor guidelines any documentation details we want to make sure makes it in
* Keep a close eye for a while
* Communicate this transition with our leadership

[2019-05-06 13:24] shawntabrizi opened #78 "Move off of ReadMe.io"
- Must be GitHub based
- Must be Markdown based

Top candidate is Docusaurus, possibly served via GitHub pages

[2019-05-06 13:31] shawntabrizi opened #79 "Consolidate Location of Docs"
Dependent on #78, but we need to make sure that all of our main entry points are really consolidated.

- Developer Hub
- Reference Documentation

There should only be 2 sites which have our content for Substrate.

[2019-05-06 13:32] shawntabrizi opened #80 "Developer Hub Landing Page"
Gotta have the best landing page of all time.

[2019-05-06 13:35] shawntabrizi opened #81 "Document how to write tests for a custom module"
Maybe a standalone page, but also could just be another chapter in the kitties workshop.

@Kianenigma is this still something you want to do? If so, will you have bandwidth in the next 2 weeks to do it?

[2019-05-06 15:58] nczhu commented on #81
I can take this one on likely this weekend. Have some initial notes started on this already. Would be good to get it reviewed by Kian and Shawn later though.

It would also be good as another kitties chapter - don't see why not

[2019-05-06 17:00] shawntabrizi commented on #81
It doesn't have to be a kitties chapter if you think it would fit some other format better. But I do think you want to start with some "pre-written" runtime module, and might as well start with this one?

[2019-05-06 18:41] Kianenigma commented on #81
@nczhu Like some other attempts that I've had to take stuff that I think I can properly do, it looks like I am a much better asset at _helping_ the doc team with the bit of knowledge that I have rather than doing it myself :D. In case you decide to take this, I would be happy to help/review.

[2019-05-06 19:30] shawntabrizi commented on #81
@Kianenigma If Nicole is interested in it, and you have other stuff to do, I think you simply helping and reviewing would be awesome enough :)

Maybe you and her can talk if you want to actually team up and tackle it!

[2019-05-07 12:43] joepetrowski commented on #75
Start here: https://docs.google.com/presentation/d/1aJ1AtAJTogxu1Ek6iUNe2tsCKg_oirI6r7x0kI1Jyys/edit?usp=sharing

![image](https://user-images.githubusercontent.com/25483142/57300157-8351d000-70d6-11e9-82e7-29d1046f7393.png)

[2019-05-08 13:10] joepetrowski opened #82 "construct_runtime docs need an update"
https://github.com/paritytech/substrate/blob/master/srml/support/src/runtime.rs#L22

Still a TODO in there and could use review.

[2019-05-09 01:51] 4meta5 commented on #21
Still a WIP in progress, but I did map what I've written thus far to the domain https://substrate.recipes/

I really think that these should be hosted separate from the Substrate Developer's Hub (and linked from there) because it contains larger code examples not dissimilar to the type of material in Cryptokitties and the TCR tutorials. Also, I've received a lot of feedback that the current format

[2019-05-09 10:09] JoshOrndorff commented on #74
Here is a rough draft of my writeup https://gist.github.com/JoshOrndorff/bb9f7eb69ca6b51a0112a01bbb9405f8

I'd love feedback especially from @gautamdhameja since he worked on this with me.

cc @jimscarver @jeremybeal11 since we practiced this the other night.

[2019-05-09 13:28] gautamdhameja commented on #74
Here's some feedback on the tutorial draft:

1. I don't think we need to ask the users to clone the entire Substrate repo and build from there. We can simply ask them to install Substrate and use the substrate-node-new command to clone and build the node template. This is simpler and less error-prone.

2. Because of point 1, we can get rid of the update and related sections. I am in favour of a sh

[2019-05-09 14:07] JoshOrndorff commented on #74
Thanks a ton for the feedback @gautamdhameja !

Re 1 and 2.
I disagree with you here. The problem with relying on `substrate-node-new` is that it will always pull the latest version of the repo. That leads to the following practical problem. Imagine Alice and Bob follow the tutorial on Monday and succeed. They are so excited they try to do the same thing with Carol the next day. Carol now has a ne

[2019-05-09 14:10] JoshOrndorff commented on #74
Question. After we deem this tutorial good-enough-to-publish, where should it be published to? Ideally it could be under version control.

@shawntabrizi I see you've made some commits in this repo recently. Should I drop it in here?

One strategy for migrating from readme.io is to have more and more of the links be external links to the new home (maybe this repo on github pages?).

[2019-05-09 14:15] gautamdhameja commented on #74
I don't think this is true anymore. The substrate-node-new script was recently updated to use the v1.0 tag. Also, I could see this problem arising by cloning the latest codebase all the time if older participants don't update/pull in time.

[2019-05-09 14:25] JoshOrndorff commented on #74
It was updated to use the v1.0 _branch_ which doesn't move _as_ fast as master, but his still had 7 commits in the last 3 days https://github.com/paritytech/substrate/commits/v1.0

There is no v1.0 tag https://github.com/paritytech/substrate/tags

[2019-05-09 14:31] thiolliere commented on #82
hmm I actually don't know the difference between Block and NodeBlock.

maybe @bkchr ?

[2019-05-09 14:36] thiolliere commented on #73
https://github.com/paritytech/substrate/pull/2523

[2019-05-09 14:37] thiolliere commented on #73
also do we want to backport doc for v1.0 on v1.0 branch ?

[2019-05-09 14:54] gautamdhameja commented on #74
Yeah, so v1.0 branch. And it will further stabilize once we move near to the release. In any case, cloning from the master branch of repo every time is still not the best option, imo.

[2019-05-10 12:23] thiolliere commented on #73
still need backport if needed

[2019-05-10 15:28] laboon commented on #74
Some minor typo cleanup:

* "ecause substrate is a framework," -> "**Because** substrate is a framework,"
* "ultimately the key's " -> "ultimately the **keys**"
* "One the chainspec is ready," -> "**Once** the chainspec is ready,"
* "What if you want to add more validators after starting the blockchain." -> "What if you want to add more validators after starting the blockchain**?**"
* "The authori

[2019-05-10 15:52] jeremybeal11 commented on #74
My feedback():

**Requirement**:

- i think it would be helpful to add a basic requirement section that tells the users what they will need(like git, etc)

**Compiling the Tools**

1.  i wouldn't mention that it takes a long time(i fear it can potentially deter people because their is no number on how long it takes)

**Your first time**

- i would recommend an actual location to download Substrate

[2019-05-10 16:09] laboon commented on #74
The initial git clone command doesn't work:

[code]

Do you mean:

[code]

[2019-05-10 17:44] laboon commented on #74
[code]

This needs a `\` after `--validator` as well

[2019-05-10 17:45] laboon commented on #74
Before starting `./target/debug/node-template`, we should state that you should be in the root directory ( `cd ..` if we want to be explicit) since users were in the ./node-template subdirectory immediately before this.

[2019-05-10 17:47] laboon commented on #74
We also need some `\`'s for Bob's node

[code]

should be

[code]

[2019-05-10 17:54] laboon commented on #74
If people are going to mostly start both of these on the same machine, perhaps we should also change `--port` value to, say, 30334?

[2019-05-10 17:57] laboon commented on #74
"Alice's node ID which she copied from her log " -> It might be usefult o add something like

"This node ID will look something like this: `QmWnsCra3h5ShZW8ZSosWfX99NUf4GucTr8pGAimgoNqvB`."

[2019-05-10 18:00] laboon commented on #74
[code]

How is sharing done?  Off-chain?  Replace the key in the `node-template` commands above and restart?

[2019-05-10 18:33] laboon commented on #74
Another typo: " compile the node-tmeplate" -> " compile the **node-template**"

[2019-05-11 10:14] bkchr commented on #73
Don't need to be backported.

[2019-05-11 10:14] #73 closed

[2019-05-11 10:16] bkchr commented on #82
`Block` is the block type that is used in the runtime and `NodeBlock` is the block type that is used in the node. They for example differ in the extrinsics type.

[2019-05-11 15:39] JoshOrndorff commented on #74
Thanks for all the feedback @laboon and @jeremybeal11 . I've incorporated it into the draft. More feedback is always welcome, but I'm inclined to say these instructions work.

@laboon Were you able to successfully spin up the network?

[2019-05-13 10:00] thiolliere commented on #82
fixed by https://github.com/paritytech/substrate/pull/2552

[2019-05-13 12:15] #82 closed

[2019-05-13 16:16] JoshOrndorff commented on #74
Relevant code that @gautamdhameja wrote for adding validators after genesis https://github.com/gautamdhameja/substrate-poa

[2019-05-20 10:43] nczhu commented on #81
pr out for this here:
https://github.com/shawntabrizi/substrate-collectables-workshop/pull/100

Eventually would still be great to have a quick reference or recipes page on Tests that live as its own page in docusaurus

[2019-05-24 13:39] Kianenigma commented on #38
I'll give up on this in case someone wants to take over in favor of time + it is not a priority. Some components in the support (storage, macros etc.) have already been documented as well.

[2019-05-24 20:12] JoshOrndorff commented on #74
The draft is now stable enough that I moved it to https://docs.substrate.dev/docs/deploying-a-substrate-node-chain.

@ltfschoen Would you mind pasting your suggestions here as well?

[2019-05-24 22:03] JoshOrndorff commented on #74
Still to do
* Use v1.0 branch
* compile subkey (or use the polkadot api)

[2019-05-25 01:41] ltfschoen commented on #74
i can't remember which room you posted https://gist.github.com/JoshOrndorff/bb9f7eb69ca6b51a0112a01bbb9405f8 into, that's where i posted my suggestions

[2019-05-29 12:44] shawntabrizi opened #83 "Substrate Storage Deep Dive Workshop/Tutorial"
There are a lot of tricks and nuances to using storage in Substrate.

* Supported storage types
 * StorageValue
 * StorageMap
 * StorageList
 * LinkedMap
 * other...?

* Implications of using different storage types for efficiency
* Using `Vec`, implications of letting users input the value for this
* Storage API: get, put, insert, take, append, etc...
* Storing Structs (advance things)
* Storage

[2019-05-29 13:00] kaichaosun opened #84 "Compose Substrate dev resources in Chinese."
There are very rare dev resources in Chinese, also lack an entry point for local dev to get started.
I feel like we need to do something to improve the above situation. This is my current plan:
* [x] Setup local dev portal in one of the top media platforms 👉 [zhihu](https://zhuanlan.zhihu.com/substrate).
* [x] Translate [awesome-substrate](https://github.com/nczhu/awesome-substrate) 👉 [PR](https:/

[2019-05-29 14:40] JoshOrndorff commented on #84
Hi @kaichaosun
Great work so far, and thanks for helping out. I want to let you know that I'm working on migrating the "substrate developers hub" to the [docusaurus](http://docusaurus.io/) platform. That platform supports multiple languages. Would you be interested in hosting some of your chinese-language work there after the migration?

[2019-05-29 14:46] kaichaosun commented on #84
Hi, @JoshOrndorff,  this sounds a good idea, will do that after the migration.

[2019-05-30 17:46] JoshOrndorff opened #85 "Document the subkey tool"
I've written a draft at https://dash.readme.io/project/substrate/v1.0.0/docs/keys-seeds-and-the-subkey-tool

Would love initial feedback about what to add or remove, corrections, or anything. When the content looks good, I'll record a video walk-through.

[2019-05-30 17:50] JoshOrndorff commented on #78
I'm taking the lead on this, hopefully with the help of @kaichaosun.

Here's the motivation and plan for moving https://docs.google.com/document/d/1Gq0a7jFMjL1txpm21twBCLg6dcEs5SWidD3cifwfPZE/edit#

I hope to make more progress this week and will update the plan. I hope to use this issue moving forward.

[2019-05-30 18:15] JoshOrndorff commented on #77
I believe CI is now testing the code snippets in rust files, right?

What's the status on this? If it isn't done, what needs to happen?

It's been over 3 weeks since this was opened, how are we feeling? We're supposed to be watching that any time code changes, reference docs and examples in them are updated accordingly, right? I'll start watching too.

Both Bjorn and Fred mentioned this in our 22

[2019-05-30 18:23] JoshOrndorff commented on #57
This issue is getting stale, So I'm going to summarize and close. If the discussion should keep goingm, I propose opening a separate issue for the individual community building initiative.

I'm taking ownership of office hours. We're starting bi-weekly for now. https://www.reddit.com/r/substrate/comments/bukfoc/substrate_collaborative_learning_monday_03_june/

 Virtual Hackathons are starting to t

[2019-05-30 18:23] #57 closed

[2019-05-30 18:29] JoshOrndorff opened #86 "Overview doc on writing runtime tests"
We now have a chapter in the kitties tutorial for writing tests (https://github.com/shawntabrizi/substrate-collectables-workshop/pull/100).

It is still appropriate to have a doc that depends less on context showing how to write tests and make them pass for simple runtimes.

This page should live in Docusaurus.

[2019-05-30 18:30] JoshOrndorff commented on #81
The PR is merged now, so I'm going to close this issue.

@nczhu Here's an issue for that. https://github.com/paritytech/substrate-developer-hub/issues/86
Wanna team code sometime next week? I've assigned us, but feel free to unassign yourself and I can take it.

[2019-05-30 19:22] joepetrowski commented on #77
This is dependent on the example, but I believe all of our SRML docs are now tested in CI, so someone would have to explicitly change it to "ignore" or "nocompile" to make it ignore them. I hope this would get caught in review.

It is in @pepyakin 's guidelines that he added to the Substrate PR form. We could do a better guide on what info needs to be included.

The updates have not faced as much

[2019-05-31 02:57] JoshOrndorff commented on #5
@bjornwgnr Were you referring to the parity sample github organization? I thought it lived here https://github.com/parity-samples

But it seems maybe it is gone? It looks like the repositories moved over here (notice this redirect https://github.com/parity-samples/substrate-erc20-multi).

So I'm going to close this issue. Reopen if I misunderstood, or if you want a more specific thing.

[2019-05-31 02:57] #5 closed

[2019-05-31 10:02] nczhu commented on #81
Sure, let’s do it. should be quick -one hour?

On Thu, May 30, 2019 at 8:30 PM Joshy Orndorff <notifications@github.com>
wrote:

--
This communication and any attachments are confidential.

[2019-05-31 21:03] JoshOrndorff commented on #86
@nczhu I've sent you a calendar event to work together on this next week.

I'll get myself up to speed by following the kitties tutorial chapter on tests. We can work together for an hour, and I'll finish whatever remains to be done.

[2019-06-01 13:49] JoshOrndorff opened #87 "Enable CI for this repo"
We'll need a CI pipeline to run the docusaurus build on each commit. I'm leaning toward CircleCI because both the docusaurus instructions and Kirill recommended it. I'm not clear how to enable it for this repo though.

Notice I don't have access to this org from within circle CI. Who is the right person to help with that?
![image](https://user-images.githubusercontent.com/2915325/58749310-81b7c580

[2019-06-02 17:16] shawntabrizi opened #88 "Show unused crates in crates.parity.io"
Crates like srml-example and srml-assets are not shown in crates.parity.io because they are not included in any of the projects.

How can we fix this?

[2019-06-02 17:54] shawntabrizi opened #89 "Show hidden functions in docs"
Some functions which do not have comments are hidden from the generated documentation.

Some of them are pretty relevant like `total_balance`, `ensure_can_withdraw`, etc...

We should either add simple docs to all these functions, or some flag so they are not hidden.

[2019-06-03 04:27] bkchr commented on #89
https://crates.parity.io/srml_support/traits/trait.Currency.html they are not hidden?

[2019-06-03 09:11] folsen commented on #88
I have a related question here; how useful is it to have the dependency docs in here? To me it's super confusing because it makes the substrate-specific crates really hard to find. If I want the docs for `ansi_term` I would go to the `ansi_term` docs on docs.rs, I wouldn't really look for it in the substrate crates docs.

[2019-06-03 10:21] thiolliere commented on #88
I'm not sure about the interest of having srml-example in the doc as its rustdoc are mostly guidelines to write doc for modules (but this could be moved). and some interesting stuff are actually inlined documentation.

But srml-assets seems to deserve being in the rustdoc.

About having dependency docs here it might be better to keep them here as docs are linked together using relative path (excep

[2019-06-03 15:46] thiolliere commented on #88
I would expect doc to be compiled there https://github.com/paritytech/substrate/blob/029a778243e79de872e85e01823f6806876febe0/.gitlab-ci.yml#L181

we should add `--all --exclude srml-example` maybe

[2019-06-03 17:01] shawntabrizi commented on #89
They are hidden in the context of the Balances module:

https://crates.parity.io/srml_balances/struct.Module.html#method.ensure_can_withdraw

But still searchable there:
<img width="1174" alt="image" src="https://user-images.githubusercontent.com/1860335/58820081-ea10cd80-8631-11e9-9f75-05019a645b0c.png">

Should we just expect users to know to click the Currency trait?

[2019-06-03 19:29] bkchr commented on #89
If you want to know the documentation of a trait function, you need to look into the trait. That is the same behavior for each rust crate.

[2019-06-04 08:33] #89 closed

[2019-06-04 08:37] shawntabrizi commented on #88
Solved

[2019-06-04 08:37] #88 closed

[2019-06-04 12:59] joepetrowski opened #90 "Create docs for substrate address format"
Related to deprecation of the wiki. Need up to date docs on address format.
https://github.com/paritytech/wiki/pull/335

Old:

---
title: External Address Format (SS58)
---
SS58 is a simple address format designed for Substrate based chains. There's no problem with using other address formats for a chain, but this serves as a robust default. It is heavily based on Bitcoin's Base-58-check format wi

[2019-06-04 13:00] joepetrowski opened #91 "Create docs for reclaiming an index"
Related to deprecation of the wiki
https://github.com/paritytech/wiki/pull/335

Old:

To reclaim an index `I`, you must be sure that `I` is currently mapped to a dead account (i.e. one with zero total balance). You need to craft a transaction that creates a new account by placing some balance `B` in it. `B` must satisfy these conditions:

 `B % 256 == 105`

 `B / 256 % E == I`

 Where `E` is the q

[2019-06-04 13:20] ltfschoen commented on #75
https://github.com/brenzi/substrate-doc/blob/master/SRMLmodules.svg

[2019-06-04 13:27] folsen commented on #85
@JoshOrndorff I would suggest looking up through git blame or history who wrote most of the code for subkey and ping them directly here, otherwise you might not get the attention necessary.

[2019-06-04 14:41] JoshOrndorff opened #92 "Remove Joshys user account from static site deployment"
Currently the `.circleci/config.yml` uses @JoshOrndorff 's user account to deploy the static site.

Since changes will be coming into this repo from many contributors, it would be better to either:
1. Use a dedicated account for deploying the static site
2. Find a means to push without using any user account.

The current configuration was inspired by https://docusaurus.io/docs/en/next/publishing#

[2019-06-04 14:59] ltfschoen commented on #85
@JoshOrndorff i've suggested changes to https://dash.readme.io/project/substrate/v1.0.0/docs/keys-seeds-and-the-subkey-tool. just click "View Doc History" then "View Diff" to see the proposed changes. if you don't like the suggested changes then just click the "Revert" button to revert to previous versions (although I haven't played around with the VCS of Readme.io enough to know whether/how we'd

[2019-06-04 15:05] ltfschoen commented on #85
@JoshOrndorff suggest linking SS58 to https://github.com/substrate-developer-hub/docs/issues/90 once @joepetrowski has completed that task

[2019-06-04 16:37] JoshOrndorff commented on #92
Fixed in 634a67f130c6c807ed402017ecf3987be3508a1e

[2019-06-04 16:37] #92 closed

[2019-06-04 16:50] JoshOrndorff commented on #85
Thanks @ltfschoen I appreciate the edits (including digging up the bip39 link!).

Looks like Gav wrote most of the code (https://github.com/paritytech/substrate/blame/master/subkey/src/main.rs). I'll finish this first draft and then ping him.

[2019-06-04 16:58] ltfschoen commented on #85
@JoshOrndorff also might be worth getting in touch with Logan at Web3 to make sure it's in sync with the Web3 wiki

[2019-06-04 19:21] joepetrowski commented on #91
Could potentially just live with the Indices module reference docs

[2019-06-05 12:36] ltfschoen commented on #85
@JoshOrndorff also might be worth incorporating this script https://github.com/luboremo/Edgeware-seed-generating-script-SSSS, which was shared in https://discordapp.com/channels/537281916567814144/545028376889393152 by @luberemo

[2019-06-05 14:17] JoshOrndorff commented on #70
Some of this content is covered in https://www.shawntabrizi.com/substrate-collectables-workshop/#/5/testing-genesis

[2019-06-05 14:19] JoshOrndorff commented on #70
And a helpful example from nicole https://github.com/substrate-developer-hub/substrate-collectables-workshop/pull/100#discussion_r287309170

[2019-06-05 15:01] kaichaosun commented on #78
I'm working on translation and localization by following the guide:
https://docusaurus.io/docs/en/translation

[2019-06-05 18:35] JoshOrndorff commented on #85
I've decided the doc I wrote and Luke revised was helpful enough to be published at https://docs.substrate.dev/docs/keys-seeds-and-the-subkey-tool

@gavofyork since you wrote most of subkey, could you please take a look for correctness or suggestions? I'd love to write more about sign and transfer too, but could not figure out the formats necessary for input keys/addresses, or where to use the sig

[2019-06-06 09:40] kaichaosun commented on #78
**Summary about how to do the localization:**
[doc](https://hackmd.io/@2dHpJQYgQrCqfxqXMtJTFQ/B1f6WH8A4)

**TODO:**
- [x] Enable translation and localization in Docusaurus
- [ ] Create Crowndin project with the proper account, it should be the admin of this repo, better not to use a personal account.
- [ ] Integrate with CI, blocked by Crowndin account creation.
- [ ] Discuss around version contro

[2019-06-06 13:56] ltfschoen opened #95 "Website license should be Parity instead of Facebook"
When I look at the Licenses used in the website code it says its copyright Facebook (i.e. https://github.com/substrate-developer-hub/docs/blob/master/website/pages/who/contract-developer.js#L2)

[2019-06-06 17:21] JoshOrndorff commented on #78
@kaichaosun Looks awesome. I've approved you [PR to enable l10n](https://github.com/substrate-developer-hub/docs/pull/93). FYI for the CI portions were using circleci.com. Checkout the `/circleci/config.yml`. I'll be happy to help with getting it to work with crowdin.

@shawntabrizi Let's capture our discussion from riot in here.

I'm fine with all that. Please confirm that I understood correctly.

[2019-06-06 17:35] JoshOrndorff commented on #76
PR is merged, and the deprecated message is live. I'm closing this one.
![image](https://user-images.githubusercontent.com/2915325/59053606-cb901980-885f-11e9-954c-7dfb270f9b4d.png)

[2019-06-06 17:35] #76 closed

[2019-06-06 17:37] JoshOrndorff commented on #95
I vote for just removing that notice entirely.

[2019-06-06 17:42] JoshOrndorff commented on #87
Has been working as of 634a67f130c6c807ed402017ecf3987be3508a1e

[2019-06-06 17:42] #87 closed

[2019-06-06 17:45] JoshOrndorff commented on #48
Good work on this happening in Chinese at https://github.com/substrate-developer-hub/docs/issues/84 I'm closing this for now. please reopen separate issues for other languages as they are desired.

[2019-06-06 17:45] #48 closed

[2019-06-06 17:48] JoshOrndorff opened #96 "Move this repo to substrate-developer-hub.github.io"
We want this docusaurus site to be our org page, so the repo must be [named appropriately](https://help.github.com/en/articles/user-organization-and-project-pages#user-and-organization-pages-sites)

This will also require:
docusaurus will build to master
docs edits will be made on source
source will be default github branch
update CI accordingly

[2019-06-06 17:52] JoshOrndorff commented on #80
@shawntabrizi has been making good progress on this for example 61ee78612135f4e58a34d1d8c6df0fd50c570b89

Preview at https://substrate-developer-hub.github.io/docs/ (This URL will likely change because of https://github.com/substrate-developer-hub/docs/issues/96)

[2019-06-06 17:54] JoshOrndorff commented on #78
Actually, I've broken the scope of this task down into more manageable issues and put them in the "Migrate to Docusaurus" milestone.

@kaichaosun let's track the l10n progress in https://github.com/substrate-developer-hub/docs/issues/84

[2019-06-06 17:54] #78 closed

[2019-06-06 17:56] JoshOrndorff commented on #80
Could use a favicon. This is the old one https://files.readme.io/1b958ee-favicon.ico from readme_io

[2019-06-06 18:15] JoshOrndorff opened #97 "Plan and execute substrate.dev domain migration"
We need to know who can admin the substrate.dev domain.

Kirill recommended we transfer it to the gandi.net registrar, but that could be done after the new devhub is live.

Felix and Gabriel were confident that directing it to github pages would not be a problem. It should be even easier now that we're hosting as an organization page (https://github.com/substrate-developer-hub/docs/issues/96)

[2019-06-06 21:04] JoshOrndorff commented on #68
I've opened this issue https://github.com/paritytech/substrate/issues/2818

I hope there will be a best practice for forwarding the blockchain during testing.
`System::set_block_number(System::block_number() + 1);` is not sufficient if any of your runtime uses `on_initialize` or `on_finalize`.

[2019-06-06 21:05] JoshOrndorff commented on #86
I've opened this issue https://github.com/paritytech/substrate/issues/2818

I hope there will be a best practice for fast-forwarding the blockchain during testing.
`System::set_block_number(System::block_number() + 1);` is not sufficient if any of your runtime uses `on_initialize` or `on_finalize`.

[2019-06-07 03:27] kaichaosun commented on #84
@JoshOrndorff, before we enable the translations in circleci, I'm wondering which email account should we use to setup Crowdin account? I suggest to use a parity shared account like substrate-developer-hub@parity.com. Then the registration information of Crowdin like password can be put in a secrect sharing tool.

[2019-06-07 03:28] kaichaosun commented on #84
**Summary about how to do the localization:**
[doc](https://hackmd.io/@2dHpJQYgQrCqfxqXMtJTFQ/B1f6WH8A4)

**TODO:**
- [x] Enable translation and localization in Docusaurus
- [ ] Create Crowndin project with the proper account, it should be the admin of this repo, better not to use a personal account.
- [ ] Integrate with CI, blocked by Crowndin account creation.
- [ ] Discuss around version contro

[2019-06-07 11:39] fevo1971 commented on #97
* Me and David have access to the Namecheap account and can do the necessary changes to the DNS, no problem.

* Moving the domains away to a different registrar is unrelated i think. It might or might not be done in the future.

* If i remember right the new site will be hosted as a (static) GitHub-Pages site with a custom domain (like docs.substrate.dev or the like), so what we need is:
    * Som

[2019-06-07 12:02] shawntabrizi commented on #95
Yeah I need to make the whole thing Apache 2

[2019-06-07 13:00] #95 closed

[2019-06-07 13:18] shawntabrizi commented on #95
I had to remove the license from the MD files since the HTML comment broke things...

Seems to be a Docusaurus bug. If we need a license on our actual docs, we will need to try something else.

[2019-06-07 13:39] shawntabrizi commented on #96
These are the instructions from the docusaurus side: https://github.com/facebook/Docusaurus/blob/master/docs/getting-started-publishing.md#using-github-pages

[2019-06-07 13:51] JoshOrndorff commented on #97
Thanks for that info @fevo1971 . Great to hear you have access to the namecheap account.

Let's forget about transferring the registrar. I'll leave it up to Kirill to push for that after the migration if he wants it.

I am an owner of this repo, so I should be able to do whatever you need in that regard.

When we make the transfer, we want to point just plain `substrate.dev` to `substrate-develope

[2019-06-08 19:55] JoshOrndorff commented on #96
This is done and the build is passing again!

Make sure to update your remotes and branches. **Default branch is source**.

[2019-06-08 19:55] #96 closed

[2019-06-08 20:07] shawntabrizi opened #100 "Tutorial on creating standalone modules which can be imported"
All tutorials teach users how to create a module as a part of the Substrate Node Template.

We should also write documentation on how to create a standalone module which can be imported into another existing Substrate Node, as there are some nuances.

[2019-06-08 20:08] JoshOrndorff commented on #80
Any thoughts on what to do with this currently-empty page? substrate-developer-hub.github.io/docs

One idea is to just delete that page, and have docs start with the quickstart.

[2019-06-08 21:06] shawntabrizi commented on #80
Should be the landing page for docs no?
https://reactjs.org/docs/

Maybe I misunderstand what you mean

[2019-06-08 22:19] shawntabrizi commented on #97
The domain `substrate.dev` has been attached to the repo, so all we need to do is update the A-NAME and C-NAME stuff once we are ready.

https://help.github.com/en/articles/setting-up-an-apex-domain-and-www-subdomain

We should do it for **both** the apex domain and www subdomain, thus `www.substrate.dev` will redirect to `substrate.dev`

[2019-06-10 13:53] JoshOrndorff opened #101 "Gather info about teams building on substrate"
The landing page of the new developer hub will have a section featuring teams building on substrate. For each team we will need.
[ ] Project Name
[ ] Logo
[ ] Link
[ ] Permission

According to riot chat @joepetrowski can help out with that this week, so I'm assigning this to him (to get the info) and @shawntabrizi (to enter the info).

I am happy to help out however I can, so ping me or assign me

[2019-06-10 14:22] joepetrowski commented on #101
Good place to start (public site): https://forum.web3.foundation/t/teams-building-on-polkadot/67

[2019-06-10 21:07] shawntabrizi commented on #101
Initial backfill: https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/commit/6fa098f99a76ad685092d673673909b6be4e09b2

Follow up to this should be some sort of tweet from the Parity Tech/Polkadot twitters asking users to add/edit themselves using PRs to the config file

[2019-06-11 09:03] fabiangmpf commented on #101
Here is an initial list of teams that are building publicly: https://github.com/fabiangmpf/substrate-adoption. Should be a good start for content.

[2019-06-11 09:12] fabiangmpf commented on #101
I'd be a little bit careful with this list. Let's focus on teams with public repos / testnets first before we jump to conclusions on the basis of old tweets and blog posts (which is what this list is doing sometimes).

[2019-06-11 10:18] shawntabrizi commented on #101
https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/commit/2a7f008983e09b14468d2557c11378577824657d

This is an update to:
* Alphabetize the list
* Choose some names to be featured on the home page

@fabiangmpf I can also include whoever is on your list, but I would need specific feedback to remove some names.

[2019-06-11 11:58] JoshOrndorff commented on #85
Edgeware write-up that uses some derivation paths https://blog.edgewa.re/edgeware-lockdrop-for-validators/

From Rob on derivation paths:

[2019-06-11 12:04] fabiangmpf commented on #101
Yep, I will go over it and give some feedback on what to add / remove.

[2019-06-11 12:09] shawntabrizi opened #103 "Create Translation Recruitment Page"
Docusaurus supports a "Help Translate" button which takes a user to a defined link:

https://docusaurus.io/docs/en/site-config#translationrecruitinglink-string

<img width="566" alt="image" src="https://user-images.githubusercontent.com/1860335/59270692-6e76d800-8c52-11e9-8ead-df2cd29b116a.png">

We should set up instruction page with possibly even a bounty for users who spend enormous efforts to

[2019-06-11 13:20] JoshOrndorff opened #104 "High-level (TOC-level) restructuring of devhub docs"
Opening this issue to track a discussion starting in riot. We have consensus that the devhub table of contents needs an overhaul.

@nczhu has a draft doc that she will share here.

@gautamdhameja has a list to share also.

[2019-06-11 13:27] gautamdhameja commented on #104
I have a list of items that can be included in the Architect path in the docs site. This is a follow-up to my discussion with @shawntabrizi about what can be included in this learning path.

Here's the proposed list:

1. Substrate high-level overview - https://substrate-developer-hub.github.io/docs/en/overview/introduction

2. Architecture of runtime

3. Transaction life-cycle - https://substrate-

[2019-06-11 14:04] nczhu commented on #104
ToC suggestion

*we have most of this content already, with the exception of items marked [todo]*

- Overview
	- Introduction
	- Overall Architecture: Libp2p, consensus, runtime, wasm (Node, SRML, Core) [content available in blogs]
	- Polkadot Network [link out to web3 wiki]

- Quickstart
	- Installing & updating
	- Starting with the node (deploy a chain in 6 minutes)
	- Starting with SRML

- Node

[2019-06-11 14:09] shawntabrizi commented on #104
@nczhu You think we should have a seperate docs page for smart contract development and Substrate UI?

Where would those be?

[2019-06-11 14:16] JoshOrndorff commented on #104
@nczhu I really like the structure of the runtime section!

Is "deploy a chain in 6 minutes" something like this?
1. download a binary package
2. substrate --dev

[2019-06-11 14:20] nczhu commented on #104
I am suggesting we link out of the developer hub for that content, with an optional short writeup on what it is before linking people out.

1. For UI things: we can link out to [this wiki](https://polkadot.js.org/api/) and [this other repo](https://github.com/paritytech/substrate-light-ui).

2. For smart contracts, up to you. At our last group chat, I remember you saying Substrate Smart Contracts

[2019-06-11 14:31] nczhu commented on #104
Yeah - something like that! We want to drive home the value proposition that "you can now deploy a blockchain in 6 minutes and interact with it". So exactly as you mentioned, just have the user download/build binary, deploy with defaults, && briefly interact with it in [Substrate UI](https://polkadot.js.org/apps/#/)

Feel free to assign this to me if you think having a section like this makes sens

[2019-06-11 14:55] gautamdhameja opened #105 "High-level overview of off-chain workers"
The goal is to have a high-level doc on off-chain workers answering the following:

* What they are?
* How they work?
* How to use them?

[2019-06-11 16:42] JoshOrndorff commented on #70
This tidbit came across substrate technical chat.

[code]

[2019-06-11 16:51] JoshOrndorff commented on #70
https://crates.parity.io/srml_support_procedural/macro.decl_storage.html#genesisconfig

[2019-06-11 18:16] JoshOrndorff commented on #84
@kaichaosun It seems the Chinese docs pages don't load properly.

1. Start the server with `yarn start`
2. Navigate to `http://localhost:3000/docs/en/quickstart/getting-started`
3. Select `中文` which takes you to `http://localhost:3000/docs/zh-CN/quickstart/getting-started`
4. See the error `Cannot GET /docs/zh-CN/quickstart/getting-started`

I'm guessing you already know that, but wanted to report

[2019-06-11 18:37] JoshOrndorff commented on #101
FWIW Joystream team has agreed to be included via Riot chat.

I'm going to close this issue. Please re-open or open new issues when changes are necessary.

[2019-06-11 19:18] JoshOrndorff opened #106 "Integrate search into dev hub"
Docusaurus supports search capability https://docusaurus.io/docs/en/search It should be set up here.

[2019-06-11 19:20] JoshOrndorff commented on #106
[code]

I wonder if it needs to be at the right domain first.

[2019-06-11 19:27] JoshOrndorff commented on #106
According to https://community.algolia.com/docsearch/who-can-apply.html#the-checklist, we need to go live first.

- [x] You must be the owner of the website, or at least have the power to update its content. You'll have to include a JavaScript snippet to enable DocSearch.

- [ ] Your website must be publicly available. We do not host index for websites that are available behind an authentication o

[2019-06-11 20:12] JoshOrndorff commented on #103
I couldn't find any more docs than what's linked above

Adding `translationRecruitingLink: 'Help Translate',` to the siteConfig does create the link as shown in the screenshot, but does not point to a reliable URL.

Consider these two examples.
| page I'm on | Link points to |
| --- | --- |
| docs/en/overview/introduction | http://localhost:3000/docs/en/overview/Help%20Translate |
| http://localho

[2019-06-11 22:40] kaichaosun commented on #84
* The 404 error for Chinese doc' links is awarded. I'm considering do we want to disable the `中文` for now, and enable it once the Chinese docs are ready.
* Crowdin setup can be made with an email or through a Github account.

[2019-06-11 23:51] shawntabrizi commented on #103
You put a fixed link like "https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/contribute.md"

And then they can read instructions on how to help contribute. The link wouldnt be specific per page (but we may be able to hack something together to do that).

Docusaurus links to: https://crowdin.com/project/docusaurus

[2019-06-12 09:53] kaichaosun commented on #103
The Crowdin provides a clear workflow for the translation work. An instruction document for translation work could be helpful. Instead of putting the doc link under `Help Translate`, another option is to put the doc under `Docs`, and leave `Help Translate` links to the Crowdin project.

[2019-06-12 14:35] JoshOrndorff commented on #97
We attempted to change the DNS today, but ran into some unexpected issues. Here's as much as I know.

![image](https://user-images.githubusercontent.com/2915325/59360236-bd2d7c00-8cfd-11e9-8ee3-5475beb02f01.png)

[2019-06-12 14:41] JoshOrndorff commented on #103
@shawntabrizi You mean that I should/must do that, not that I _did_ do that correct? I definitely know how to create such a page, but I don't know how to get the "Help Translate" link to point to it.

@kaichaosun Yeah, I think it would be wise to point the help translate link directly to crowdin. But I'm saying I don't see any way to control where that link points. It seems to automatically point

[2019-06-12 16:44] JoshOrndorff commented on #106
Now that all the checklist items are complete, I've applied for search.

They [also said](https://community.algolia.com/docsearch/who-can-apply.html#priority) open source projects, and projects using supported plugins (like docusaurus) get priority

[2019-06-12 18:39] JoshOrndorff commented on #90
When this doc is written, we should link to it from the [subkey writeup](https://substrate.dev/docs/en/ecosystem/subkey).

[code]

@joepetrowski Are the docs you pasted above known to be incorrect? Any pointers on where I can confirm for myself and update them?

[2019-06-12 18:42] JoshOrndorff commented on #85
@ltfschoen I've moved the info you added about session keys to  a [new article](https://substrate.dev/docs/en/overview/session-keys).

I feel like it needs a little context at the beginning. Where might one have heard of session keys that would have gotten them reading that article?

@rphmeier I've confirmed your assertion about the difference between [hard and soft derivation paths](https://subst

[2019-06-12 18:42] #85 closed

[2019-06-12 18:44] JoshOrndorff commented on #97
Excellent work @fevo1971 and @shawntabrizi on getting the domain changed and redirected!

[2019-06-12 18:44] #97 closed

[2019-06-12 18:49] joepetrowski commented on #90
No, but they are quite old so I wouldn't trust them.

[2019-06-12 19:10] JoshOrndorff commented on #90
Looks like a good place to jump in https://github.com/paritytech/substrate/blob/cf4a28a7e707190c44e73451e9da38de6bb160ec/core/primitives/src/crypto.rs#L235

[2019-06-12 19:34] JoshOrndorff commented on #90
Most of the changes from what's written above seem to have happened in https://github.com/paritytech/substrate/pull/1795

[2019-06-12 20:43] ltfschoen commented on #85
@JoshOrdorff ,suggest adding context at the start of the article that provides a link to the Session SRML module, the W3F wiki (where i got that info in the beginning). i write that concise summary and added it to the Subkey article to provide more context to readers

[2019-06-12 23:33] JoshOrndorff commented on #90
I've made a draft in #108

[2019-06-13 00:34] JoshOrndorff commented on #74
I've just merged the last updates. Writing the tutorial is done, so I'm closing this. Additional feedback or corrections are welcome as new issues or PRs.

Final Product: https://substrate.dev/docs/en/tutorials/start-a-private-network-with-substrate

[2019-06-13 00:34] #74 closed

[2019-06-13 00:47] JoshOrndorff commented on #65
@4meta5 I believe https://github.com/4meta5/SunshineDAO is your DAO implementation, right? Are you hoping to tutorialize it more? Is there something we should link from https://substrate.dev/en/tutorials ?

What more should we do before this issue is closed? I've assigned you, but if that is not correct, please unassign yourself.

[2019-06-13 00:49] JoshOrndorff commented on #91
I'm in favor of this living with the reference docs. Or if it is to live on its own, it needs a lot more context. For example, what is an index and why should I care?

[2019-06-13 00:53] JoshOrndorff commented on #80
I think launching the live docusaurus site means this ready to be closed. Awesome work @shawntabrizi

Changes or corrections are welcome in new issues or as PRs.

[2019-06-13 00:53] #80 closed

[2019-06-13 01:07] JoshOrndorff commented on #85
@ltfschoen The reason I moved it is because subkey deals with individual key-pairs even in ed25519, `-e`, mode. I hadn't encountered the idea of certificates before.

It looks like https://wiki.polkadot.network/en/latest/polkadot/learn/keys/#session-key might be the original source you mentioned?

That page contains a disclaimer

[2019-06-13 06:23] 4meta5 commented on #65
@JoshOrndorff [SunshineDAO](https://github.com/4meta5/SunshineDAO) is the minimally viable DAO implementation, but it requires a pretty significant overhaul/rewrite and I need to add testing. For this reason, I don't want to link it from the tutorials page until this has been done because the code is buggy and disorganized right now...I also need to write more to walk through the code (like a tuto

[2019-06-13 06:39] joepetrowski commented on #91
Agree, should just be included in the docs with `srml/indices`.

[2019-06-13 13:21] shawntabrizi commented on #106
@JoshOrndorff I read that through the process they might contact you about which pages to index or ignore or whatever. If you get the chance to speak to them, can you ask them if their search will work across multiple platforms. For example, when I use the search bar at `substrate.dev` will I get results from `substrate.dev/recipes`? (which is a seperate rust docs project, but under the same domai

[2019-06-13 13:38] #77 closed

[2019-06-13 13:43] shawntabrizi commented on #45
As long as the rustdoc project generates the static html within a repo in this organization, we can access the rustdoc at: `substrate.dev/<project_name>`

I think the next hack may be some JS injected nav bar or some pop up on the right corner which takes the user back to the Dev Hub, hopefully making it feel more like a single experience

[2019-06-13 17:03] JoshOrndorff opened #111 "Some translations are out of date"
The CI output for #82 contains

[code]

The subkey page was recently renamed, and the recipes page was recently removed.

Are there things that we need to be aware of when adding, moving, or deleting English content?

[2019-06-14 01:22] kaichaosun opened #112 "Contents in pages need to use <translate> tag"
Refer to this [doc](https://docusaurus.io/docs/en/next/translation)

[2019-06-14 09:28] kaichaosun commented on #111
I check the Crowdin CLI command options, also chat the admin of Crowdin. Currently, there is no option to delete old files that are not in the source files locally anymore. Once they are uploaded to the Crowdin, they can not be deleted with CLI, but they can be deleted through UI.
This means we should regularly check the warnings and delete them manually.
That's not much effort after the docs beco

[2019-06-14 09:32] kaichaosun commented on #111
BTW, I fixed the warnings for now.

[2019-06-14 15:33] gautamdhameja commented on #105
WIP here - https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/pull/115

[2019-06-14 17:45] kaichaosun commented on #111
The warning was removed in the latest build, will close this issue.

[2019-06-14 17:45] #111 closed

[2019-06-14 18:00] JoshOrndorff opened #116 "Restore "Print a message" recipe"
In the older runtime recipes that I deleted in 1495d8616b40, There was a section called "Print a message" which showed how to output simple debugging logs. That is not in the new https://substrate.dev/recipes .

I recently saw @shawntabrizi recommend instead to
1. Compile wasm
2. Add `println!`s
3. Compile native

Is this a better approach?

Original
----------

Sometimes we need to print debug me

[2019-06-15 05:44] shawntabrizi commented on #103
@JoshOrndorff the confusion is that the setting in the config should look like:

[code]

In this case, it can be a fixed URL with instructions or a direct link to crowdin

[2019-06-15 13:56] JoshOrndorff commented on #106
@shawntabrizi Awaiting direct answer to those questions. In the meantime, this is the actual code of the scraper they use to crawl our website. https://github.com/algolia/docsearch-scraper

[2019-06-15 14:16] JoshOrndorff commented on #106
Notes on styling the search bar: https://community.algolia.com/docsearch/styling.html

[2019-06-15 14:21] JoshOrndorff commented on #106
Done in 52de5e120d85ac58d4fa31b8b7e9f3bedce1cebc

[2019-06-15 14:21] #106 closed

[2019-06-15 22:14] JoshOrndorff commented on #103
That makes perfect sense, and I now see that @kaichaosun did it in 4aca42b950de13b0666c807e4725150ccf601e1e

[2019-06-15 22:14] #103 closed

[2019-06-16 01:35] shawntabrizi opened #118 "Figure out the Versioning Story"
We have Substrate v1.0 now, Substrate v2.0 coming soon, and always Substrate latest/master.

This involves some needed magic around reference documentation, search indexing, clarity to the user, etc...

While it is probably not super important at the time of writing this issue, it is something that we should think about in the long term.

**Task Updated:**
- [x] Enable versioning for source and tr

[2019-06-16 17:01] shawntabrizi commented on #84
@kaichaosun Can we reopen the remaining items as new issues and close this one? Seems like our migration to Docusaurus is pretty much done.

[2019-06-16 23:49] kaichaosun commented on #84
Sure, will do that.

[2019-06-16 23:49] #84 closed

[2019-06-16 23:54] kaichaosun commented on #118
The translations may also need version management in the future, I haven't seen any use cases for now, let's keep this thread to discuss and track it.

[2019-06-17 00:12] kaichaosun opened #121 "Collect feedback from Chinese community"

[2019-06-17 00:13] kaichaosun commented on #121
WIP [summary](https://hackmd.io/ByPDqU5WQQqzRABqIctfwA)

[2019-06-17 12:21] shawntabrizi opened #123 "Consolidate Various Install Instructions"
This is a larger vision to try and reduce the footprint of breaking changes to various setup procedures which may discourage a user from using Substrate or other ecosystem projects.

Tangible goals, in order of execution:

- [ ] A single markdown file which describes the instructions to install and use any product
- [ ] A docusaurus plugin to be able to copy either the whole markdown file or speci

[2019-06-17 12:33] JoshOrndorff commented on #100
@shawntabrizi 's guide about [adding the contract module](https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/pull/119) to node template will probably be helpful when writing this.

[2019-06-17 14:07] JoshOrndorff commented on #123
Oh nice. I just made a similar comment when reviewing https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/pull/119

I definitely agree with the goal / vision. But I think writing plugins to copy the content to various places is overkill. What if tutorials just start with,

This tutorial assumes you already have a working [substrate developer environment](#) and the link go

[2019-06-17 17:12] gautamdhameja commented on #105
PR merged after content and style reviews and approval. Closing this issue.

[2019-06-17 17:12] #105 closed

[2019-06-17 21:00] 4meta5 commented on #65
Actually, I'm going to take care of this ASAP. I was thinking that it is almost necessary to have a clean, up-to-date governance example for tutorial purposes. I'll focus on how I use patterns from `srml/{council, staking, democracy, balances, treasury}`.

[2019-06-18 12:43] shawntabrizi commented on #79
with https://github.com/substrate-developer-hub/rustdocs I think this can be closed

[2019-06-18 12:43] #79 closed

[2019-06-18 13:06] shawntabrizi commented on #6
All of our rustdocs, can be placed in the `rustdocs` repo now, where we can have separate folders for each "branch/version" of Substrate.

Gonna close this.

[2019-06-18 13:06] #6 closed

[2019-06-18 13:09] shawntabrizi commented on #45
The first major step of this is done with the [`rustdocs`](https://github.com/substrate-developer-hub/rustdocs) repository.

Next to figure out custom HTML/CSS/JS to inject a common navbar or similar to the site

[2019-06-18 15:44] shawntabrizi commented on #123
I think there is value in not having a user jump to a bunch of different pages to complete a task. Especially I envision that we may only want the user to follow one section of a page for a particular tutorial.

That being said I agree this could be overkill. I probably wont attempt to do this in the near future so maybe we can do your idea as a step one and see how it works.

[2019-06-18 17:31] #112 closed

[2019-06-21 15:48] kaichaosun opened #136 "Tracking the localization & translation"
Hub is planned to support multi-language besides English, initially:
* Chinese
* Japanese
* Korean
* Russian

Add comments if you want to be the owner of one.

[2019-06-21 16:21] shawntabrizi opened #137 "A guide for creating swappable modules"
Given a module A which has a dependency on module B, show how you can build module C which can be swapped with B.

Teaches:
* How to use traits properly
* Required Functions and Implemented Functions
* Making a module have no direct dependency on another module
* Building two modules which satisfy the conditions
* Some live/practical example of swapping the two

[2019-06-21 17:17] kaichaosun commented on #136
Stable (High Priority)

Unstable (Low Priority)

[2019-06-22 07:54] kaichaosun commented on #136
@shawntabrizi @JoshOrndorff
## Below is the draft priority comment:
💚 high
🔻 low
- getting-started (:green_heart:)
- substrate-fundamentals / overview
  - introduction (:green_heart:)
  - extrinsics (:green_heart:)
  - transaction-lifecycle (:green_heart:)
  - low-level data format (:green_heart:)
  - substrate off-chain workers (:green_heart:)
  - session keys (:green_heart:)
  - SS58 address for

[2019-06-23 14:17] JoshOrndorff commented on #136
I'd mark the session keys as low priority. I'm thinking that isn't even implemented anywhere yet. ([source](https://wiki.polkadot.network/en/latest/polkadot/learn/keys/#session-key))

[2019-06-23 17:41] JoshOrndorff commented on #100
Drafted this in https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/pull/141

[2019-06-24 15:01] JoshOrndorff commented on #90
Seems we should revert to the original article after discussion in riot today

[2019-06-24 15:34] JoshOrndorff commented on #90
Here's a new PR https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/pull/144

[2019-06-24 18:08] JoshOrndorff opened #145 "Display search results from entire site"
My first attempt was https://github.com/algolia/docsearch-configs/pull/894 but search still hasn't indexed the rustdocs or /recipes.

Now considering whether [selectors](https://community.algolia.com/docsearch/config-file.html#selectors) or [sitemap](https://community.algolia.com/docsearch/config-file.html#sitemaps) are the issue. Here's a good [example of multiple selector sets](https://github.co

[2019-06-24 18:38] JoshOrndorff commented on #145
Trying to [run the crawler](https://community.algolia.com/docsearch/run-your-own.html) myself I installed the dependencies and ran
[code]
but it failed with a long python traceback ending with
[code]

I'm not sure where it got `substrate-3.algolianet.com`

[2019-06-24 18:46] JoshOrndorff commented on #145
Asked for help on the Algolia forum https://discourse.algolia.com/t/how-to-index-entire-site-not-just-docusaurus/7988

[2019-06-25 12:39] JoshOrndorff commented on #145
FWIW, The `crawler` branch contains my attempts at manually running the crawler https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/tree/crawler/crawler

[2019-06-25 19:37] JoshOrndorff commented on #90
So here's my question after thinking about this issue for a few days now. Under what circumstances would someone use an address format other than the sr25519 or ed25519 ones that I had written up?

When I wrote my first version, I thought I was answering the question: Given an sr25519 or ed25519 raw public key, how can I calculate the same SS58 address that subkey or Apps gives me?

What is the ac

[2019-06-26 05:13] kigawas opened #149 "Log type seems to be removed"
The log type describe [here](https://substrate.dev/docs/en/runtime/macros/construct_runtime#log) is already removed after this [pr](https://github.com/paritytech/substrate/pull/2802/files#diff-9ccf13e5a11a7f6c4a3a49d89ef37d8dL97).

Now it seems that a `DigestItem` should be used like [this](https://github.com/paritytech/substrate/pull/2802/files#diff-9ccf13e5a11a7f6c4a3a49d89ef37d8dR177).

[2019-06-26 05:36] kigawas commented on #149
https://github.com/paritytech/substrate/pull/2802

[2019-06-26 09:43] joepetrowski commented on #90
If this is an address for holding _tokens_ then I don't know of other curves from which one would derive an address. GRANDPA validators use a BLS18-381 key to sign commit messages though so they would be identifiable by their key, although this wouldn't hold funds.

[2019-06-26 13:34] JoshOrndorff opened #151 "Add 'publish to github' step to 'create a module' tutorial"
Shawn and I recently worked on and merged https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/pull/141

We both agreed that it would be wise to add a section where the user published their new module to github and references it as a dependency in their runtime from github instead of just doing it by path.

Basically it would be.
1. Create a new github repo
2. Push your tes

[2019-06-26 14:02] shawntabrizi commented on #100
#141 is merged

[2019-06-26 14:02] #100 closed

[2019-06-26 14:06] JoshOrndorff commented on #145
The Algolia community, and in particular @s-pace have been tremendously helpful here. He seems to be [confirming that the issue is with our selectors](https://github.com/algolia/docsearch-configs/pull/894#issuecomment-505736916).

I've gotten further toward running the crawler manually but still not successful. I've created an algolia account and learned our application ID. I've also learned that

[2019-06-26 14:26] JoshOrndorff commented on #145
Also noticing that their PR template suggests a sitemap is very important https://github.com/algolia/docsearch-configs/blob/master/.github/PULL_REQUEST_TEMPLATE#L7

I wonder where ours came from.

[2019-06-26 14:29] JoshOrndorff commented on #145
Proceeding briefly via option 1 to see just how feasible it is. This PR attempts to start indexing on just the rustdocs portion of the site while leaving the docusaurus portion in tact. https://github.com/algolia/docsearch-configs/pull/907

[2019-06-26 14:48] JoshOrndorff commented on #45
@shawntabrizi You're talking about injecting a navbar  that looks like
![image](https://user-images.githubusercontent.com/2915325/60189998-e7079800-97ff-11e9-9e0a-100f749475ff.png)
into https://substrate.dev/rustdocs/v1.0 right?

[2019-06-26 15:02] JoshOrndorff commented on #45
This might be relevant:
https://doc.rust-lang.org/1.30.0/book/first-edition/documentation.html#generation-options

That has to be done when the docs are generated. I see https://github.com/paritytech/substrate/commit/047e887d1191aa0b85f46570a432c5665bfc1b02 but can't seem to figure out where the `cargo doc` actually gets run. I'll play with this locally and see whether it seems promising.

[2019-06-26 15:31] JoshOrndorff commented on #45
I played with that flag a bit, and it's only okay. I'm not sure how to use that flag with `cargo doc` only with `rustdoc`.

![image](https://user-images.githubusercontent.com/2915325/60193583-eeca3b00-9805-11e9-8c0e-3e3fa01918d4.png)

Here's a playground repo if you want to quickly reproduce my results https://github.com/JoshOrndorff/rustdoc-playground

[2019-06-26 18:49] shawntabrizi commented on #45
I spent a little time looking at this a week ago or so.

Made a repo here: https://github.com/substrate-developer-hub/substrate-developer-hub-navbar

And did a little investigating here: https://stackoverflow.com/questions/56658987/create-a-navbar-which-can-be-added-embedded-to-any-site/56659006#56659006

Happy for you to pick up or I will take another stab maybe this weekend.

[2019-06-26 18:54] JoshOrndorff commented on #45
I'm pretty happy with what you have started there @shawntabrizi We could add the algolia search bar to it like https://community.algolia.com/docsearch/dropdown.html

There is also a `--html-in header` that we could use to get your script tag into the rustdocs.

[2019-06-26 21:09] JoshOrndorff commented on #151
https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/pull/152

[2019-06-27 15:01] JoshOrndorff commented on #145
algolia/docsearch-configs#907 got merged 18 hours ago, and even had some contributions from an algolia team member, but still no rustdocs in the index. I'm feeling pretty stuck on this one.

[2019-06-27 19:08] s-pace commented on #145
rustdocs is indexed. Please give it a try, may be an old crawl was made.

Cheers

[2019-06-27 21:18] #151 closed

[2019-06-27 22:15] kaichaosun opened #153 "Add Substrate installation instruction for Windows"

[2019-06-27 22:28] kaichaosun commented on #123
From the experience to use other tools, like [docusaurus](https://docusaurus.io/docs/en), there are rare cases that make the contents duplicated in a lot of places.

A progressive structure for `Docs` will be helpful for users to be more immersed.

Then as Joshy proposed, we can have links in pages for the pre-requirements which depend on another section in another page.

[2019-06-28 13:35] JoshOrndorff commented on #145
Okay, so @s-pace is correct. The rustdocs contents _are_ indeed in the index.

Here's a pretty [simple page](https://substrate.dev/rustdocs/v1.0/substrate_service/type.CodeExecutor.html) from our rustdocs. When I go to substrate.dev and type "CodeExecutor" into the search bar, I get **no results**.

Removing [this language filter](https://github.com/substrate-developer-hub/substrate-developer-hub.

[2019-06-28 13:43] JoshOrndorff commented on #149
@kigawas The PR you mentioned is against master, and we've been focusing our efforts here on documenting v1.0. So I don't think we should remove the information you linked from the devhub.

That being said, we will, at some point, need to document newer versions, and we probably shouldn't wait until there is a huge backlog of changes built up. We're using docusaurus to host our docs and it support

[2019-06-28 13:45] JoshOrndorff commented on #153
@laboon You worked through installing on windows before the Pittsburgh meetup, right? Do you have anything written we can start from?

[2019-06-28 15:26] laboon commented on #153
I don't have anything written down, unfortunately.  I used the basic instructions found here: https://github.com/paritytech/substrate.  If memory serves, I think I also had to add cmake to the PATH manually.

[2019-06-28 15:56] kigawas commented on #149
@JoshOrndorff
Reasonable, but not exactly the case. AFAIK all the links in the doc referring to substrate repo are against master, thus discrepancy will occur especially when a curious user clicks the link.

Also, the developer hub's installation guide is also [based on master](https://substrate.dev/docs/en/getting-started/installing-substrate#manual-build).

From my point of view, the develop hub

[2019-06-28 18:42] JoshOrndorff commented on #149
Good catch on the install instructions. Our _intention_ has been to document v1.0, but you're right that we haven't always made that clear or totally consistent.

Agreed. Versioning is one of the reasons we chose docusaurus. Here are there docs about getting [set up with versioning](https://docusaurus.io/docs/en/versioning and here), and our [own issue](https://github.com/substrate-developer-hub/s

[2019-06-28 18:46] JoshOrndorff commented on #118
For reference docusaurus docs on versioning https://docusaurus.io/docs/en/versioning

@kaichaosun There is a [short paragraph](https://docusaurus.io/docs/en/versioning#versioning-and-translations) about versioning with translation at the end.

We can restrict search results to current version [like we did with current language](https://github.com/substrate-developer-hub/substrate-developer-hub.git

[2019-06-28 20:31] JoshOrndorff commented on #70
Started a draft at https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/pull/154 but got stuck earlier than expected on a compile issue related to the `_genesis_phantom_data` issue discussed above.

[2019-06-28 22:01] shawntabrizi commented on #145
@JoshOrndorff All this testing you are doing is locally? I am not able to repo RustDoc search results on the live page

[2019-06-29 10:03] bkchr commented on #70
You just need to give it this value and initialize it to `Default::default()`.
On master this is fixed, but we can not backport as this breaks some code.

[2019-06-30 15:07] kaichaosun opened #155 "Add event calendar section"
As @gnunicorn proposed, with Substrate having more events, it would be better to add a “calendar”-section or something to it, something like “here you can learn more about substrate in person”. It would highlight more that this is not only an ecosystem but also a real-life community.

[2019-07-01 14:09] JoshOrndorff commented on #145
@shawntabrizi Yes, I had not pushed that change because I didn't want to make changes to the live site yet.

Here is a branch that removes the language filter and therefore shows the rustdoc results https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/tree/no-language-filter

Exploring again now it seems that removing that filter includes the rustdoc results _and_ includes

[2019-07-01 18:37] JoshOrndorff commented on #118
Further evidence that we're ready to start versioning the docs. https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/pull/156

[2019-07-01 18:58] JoshOrndorff commented on #118
Docusaurus has a nice [versioning fallback feature](https://docusaurus.io/docs/en/versioning#fallback-functionality) such that if you request version 3.0 of a document, but that doc hasn't changed since 1.0, it will automatically serve the 1.0 version of the doc. The only problem is that we're in a situation where we don't yet have full documentation coverage.

**Proposal**
We cut version 1.0.0 so

[2019-07-01 20:00] JoshOrndorff commented on #91
The indicies module does not yet include _any_ reference docs. Given that maintenance of reference docs was handed off to core dev team, I've opened https://github.com/paritytech/substrate/issues/2989

[2019-07-01 20:00] #91 closed

[2019-07-02 13:24] #90 closed

[2019-07-02 22:32] shawntabrizi commented on #118
I think a master first style is the wrong approach since master will likely always be breaking more often than our latest "stable" version.

I think we can move things into a 1.0.0 folder ASAP, why wait until July?

[2019-07-02 22:35] shawntabrizi commented on #153
I wrote those instructions and know a few ways to improve them further. I will make a PR soon to add windows specific install instructions in the dev hub

[2019-07-02 22:37] shawntabrizi commented on #149
It would also be cool to create a page with generally tracks breaking changes that have happened between major releases. Nothing crazy to manage, but maybe some long bullet point index with a short summary of the breaking change and the PR where it happened.

We should be able to sort of generate this by looking at the history of the `spec_version` number in the Substrate codebase.

[2019-07-02 22:39] shawntabrizi commented on #91
@JoshOrndorff I think maintenance is handed off to the core dev team, but we are still on the hook for doing the first draft and getting it reviewed and merged in. But that could be different depending on who you ask so... ¯\\_(ツ)_/¯

[2019-07-03 11:18] bkchr commented on #149
I think we should at least introduce some label `changelog` or similar in Substrate, to highlight prs that needs to go into a changelog.

[2019-07-03 15:33] JoshOrndorff commented on #118
Fair. I've crossed that out of my proposal

I'm fine with doing it asap, which is why I opened the PR already. One reason we _might_ want to wait is because we're currently missing several docs entirely. If we cut the version now, then when we go back and add missing docs, we have to add them in two places (`docs` and `docs/v1.0.0`). That's definitely not prohibitive, just a minor pain.

@kaichaos

[2019-07-03 15:37] JoshOrndorff commented on #70
Thanks for that tip @bkchr !

#154 is merged now, so I'm closing this.

[2019-07-03 15:37] #70 closed

[2019-07-03 18:39] JoshOrndorff commented on #21
This issue is now stale. The content that was formerly at substrate.recipes is now at https://substrate.dev/recipes/

The content that was previously hosted in readme.io has been deprecated and an issue opened to restore a the missing "print a message" recipe https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/issues/116

There is discussion about how to integrate search i

[2019-07-03 18:39] #21 closed

[2019-07-04 09:42] joepetrowski opened #159 "Add Instructions for Polkadot JS <> Subkey"
I moved some Alexander .json files to a different computer and tried to restore the secret key using subkey. Polkadot JS obviously finds it because I imported the json to the UI and was able to sign transactions.

Right now our docs basically say "figure it out for yourself."
https://substrate.dev/docs/en/ecosystem/subkey#more-subkey-to-explore

If someone shows me the subkey command I will write

[2019-07-04 13:09] shawntabrizi opened #160 "Fix Search for Uncommon Substrate Words"
If you search for `inherent`, the search will try to "fix" it to `interest`:

<img width="599" alt="image" src="https://user-images.githubusercontent.com/1860335/60669017-95998180-9e6d-11e9-9dda-fdb3c836526b.png">

We should have common glossary/blockchain terms protected so search does the right thing here.

[2019-07-04 13:14] #101 closed

[2019-07-05 13:52] #153 closed

[2019-07-07 00:22] drdgvhbh opened #164 "Dead Link to "deploying-a-contract" tutorial"
https://substrate.dev/docs/en/tutorials/creating-your-first-contract

Scroll down to the bottom and click on "deploy a smart contract".

Link is dead because it refers to https://substrate.dev/docs/en/tutorials/contracts/deploying-a-contract but it looks like it should actually refer to https://substrate.dev/docs/en/contracts/deploying-a-contract.

Interestingly the "creating your first contract"

[2019-07-07 12:12] shawntabrizi commented on #164
@drdgvhbh thanks, I just patched it here: https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/commit/8855c2c0a9e9d9deef73cab8f986fcaaf712e85c

In terms of things being in `tutorial` versus `docs`.... I think we still need to internally make things more clear what goes where. That being said, I think the process of deploying a contract is less of a tutorial, more of a "you

[2019-07-07 12:13] #164 closed

[2019-07-07 16:30] shawntabrizi commented on #145
I think this was the fundamental issue:
https://community.algolia.com/docsearch/config-file.html#sitemap_urls-optional

We had this configuration set, and the `sitemap` being generated via Docusaurus build. However this does not include our other projects and files.

My guess is that if we remove the `sitemap` configuration option, and instead let the crawler do a brute search by following every l

[2019-07-08 15:12] JoshOrndorff commented on #160
This looks like the option we want. https://www.algolia.com/doc/api-reference/api-parameters/disableTypoToleranceOnWords/

It might go in algolia options in siteConfig.js.

[2019-07-08 16:42] shawntabrizi opened #166 "Vision for Substrate 2.0 Docs"
As we move closer to a stable version of Substrate 2.0, it is important to align our goals around the documentation effort here to ensure we continue to tell a clear and concise story around the product.

This vision builds upon the existing [Vision for Substrate 1.0 Docs](https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/issues/46), so treat these visions as cumulative.

[2019-07-08 23:02] JoshOrndorff commented on #159
AFAIK, subkey cannot read those json files. The exercise that I intended the user to figure out on their own was copying a mnemonic from the apps UI and then running `subkey inspect "<copied phrase">`.

I agree that that exercise could be more clearly stated

[2019-07-09 10:22] joepetrowski commented on #159
If not in `subkey`, we should have instructions on how to decode that JSON. Will be useful for anyone who wants to port addresses to a new wallet.

[2019-07-09 14:39] #121 closed

[2019-07-09 14:54] JoshOrndorff commented on #166
IMHO the contracts/ink stuff if overemphasized in that plan. I'm definitely not against documenting contracts and ink, but I hesitate to make it such a big part of the story for v2.0. And I hope not to spend that portion of my own time working on contracts and ink.

I would prefer to emphasize
* Runtimes can be easily composed from existing modules
  * tightly-coupled modules
  * loosely-coupled m

[2019-07-09 22:05] shawntabrizi commented on #166
My emphasis on the Contracts module and developing on ink! is proportional to the number of questions and users I see struggling to use these tools. It also seems to be in alignment with where we want our users to be developing and pushing the boundaries, but confirmation here would help.

On the other hand, I see very few people about topics like pluggable consensus, nor do I think it is in a pro

[2019-07-10 11:37] JoshOrndorff commented on #20
Much of this content exists already. It should be unified to a single location, and then linked to from relevant places

https://substrate.dev/docs/en/runtime/substrate-runtime-module-library#support-macros
https://substrate.dev/docs/en/tutorials/tcr/tcr-best-practices

I thought there was something in recipes as well, but can't find it now.

At this point my recommendation would be to move the la

[2019-07-10 12:01] shawntabrizi commented on #20
Agreed. Maybe something that feels like this:
https://solidity.readthedocs.io/en/v0.5.10/common-patterns.html

[2019-07-10 12:04] JoshOrndorff commented on #38
My understanding is that this issue is for a page on substrate.dev, _not_ reference docs. The reference docs are pretty complete already.

I'd like to get at least some common understanding of what this issue is asking for before I make a big PR. Here are some observations

Some support macro related content lives https://substrate.dev/docs/en/runtime/substrate-runtime-module-library#support-macro

[2019-07-10 12:11] gautamdhameja commented on #20
@JoshOrndorff, I'm okay with that. We can remove the last part of the TCR tutorial in favor of this new doc and then we can add a paragraph at the end of part 4 with a link to the new best practices doc. Also, the table of contents in the intro page of the tutorial will need some updates accordingly.

[2019-07-10 12:17] JoshOrndorff opened #169 "emphasize and clarify no_std in crated module tutorial"
suggested verbiage
[code]

Because of the frequency of issues like https://github.com/paritytech/substrate/issues/3069#issuecomment-509896280 we should emphasize and clarify building to no_std here https://substrate.dev/docs/en/tutorials/creating-a-runtime-module#your-module-s-std-feature

[2019-07-10 13:53] shawntabrizi commented on #20
Possibly all of the dos and do nots and common patterns should live in Recipes section instead right?

Could have good recipes and bad ones too

[2019-07-10 13:55] shawntabrizi commented on #61
@JoshOrndorff Based on our call earlier this week, I think this is the issue you will want to close at the end :)

[2019-07-10 15:04] 4meta5 commented on #166
I think we need to invest significant time/effort covering the nuances of module development and better defining which applications are better suited as modules vs smart contracts (which is still a very open question).

With this in mind, I would prefer to focus on demonstrating how users can use our governance and also design/build their own governance systems. This aligns with @shawntabrizi  poi

[2019-07-10 15:31] JoshOrndorff commented on #166
We've seen in that past that people _think_ they want smart contracts because in other platforms smart contracts are _the_ way to write dApps. Part of what we want to do is help users understand that deploying a contract on an existing chain is not the only way to build your dApp.

That's because it's new and innovative. Most projects have no such concept and people don't know to ask about it. We

[2019-07-10 15:49] shawntabrizi commented on #166
@JoshOrndorff I could see pluggable consensus being a fine topic to cover, but I dont think it makes sense set it as a milestone which needs to be done by v2.0. Seems more like a personal effort, done when possible type thing. This is of course my opinion. If you feel passionately about this topic being something we directly focus on and call out as part of the v2.0 milestone, let's get that direc

[2019-07-10 17:15] shawntabrizi opened #171 "Additional Content for Subkey Page"
Make sure you have Substrate prerequisites installed:

[code]

Install the latest subkey:

[code]

Gav dropped this knowledge bomb and we could probably put some of it into our docs:

[2019-07-11 01:15] JoshOrndorff opened #172 "RPC endpoint"
Should we document the RPC endpoints? There are decent docs from the polkadot-js api https://polkadot.js.org/api/METHODS_RPC.html

But really these endpoints are part of substrate so it makes some sense to document them here.

[2019-07-11 01:23] shawntabrizi commented on #38
@JoshOrndorff This is probably duplicate effort with the larger documentation of the macros and a single page talking about the macros.

Coming soon links can point directly to the reference docs where applicable.

When to use each runtime type might make the most sense in the reference docs since those types may change over time. But I defer to make that decision based on how you want to structur

[2019-07-11 23:49] #169 closed

[2019-07-11 23:51] shawntabrizi commented on #172
Ideally the polkadot js docs will find a home in `substrate.dev` similar to rustdocs.

Maybe a page on the main dev hub which redirects users and adds any complementary content, but let's certainly not duplicate information.

[2019-07-11 23:52] shawntabrizi commented on #159
Related: https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/issues/171

[2019-07-12 14:44] yangwao opened #175 "To deploy contract, you should use stable known version"
Added Note for newcomers that they should use Substrate node from https://github.com/shawntabrizi/substrate-package/tree/contract
for compatibility issues

![image](https://user-images.githubusercontent.com/5887929/61136355-c90a8a80-a4c3-11e9-953a-e9bb7ef0e42b.png)

Worked for me using contract branch for deploying the contract.

[2019-07-13 12:12] 4meta5 opened #177 "Substrate Newsletter"
As the Substrate codebase grows larger, we should reevaluate how we integrate stakeholder feedback into the development process. By now there are dozens of teams that have committed to building on Substrate. These teams have an incentive to closely follow and review Substrate's progress. We have an incentive to encourage contributions from these stakeholders and facilitate their review of the chan

[2019-07-13 13:10] 4meta5 opened #178 "Substrate Ambassadors"
Following up on an idea from @nczhu, we should funnel rejected candidates towards an ambassadors program. Once developers have invested time/effort to learn our framework, we should encourage continued engagement by making it easier for them to build out their ideas. One criterion for acceptance into the ambassadors program could be a working, documented sample built on Substrate.

Benefits of mem

[2019-07-15 08:02] nczhu commented on #178
Happy to help kickstart this with you whenever. Agree that it should be
open to everyone, with candidate funnel as one of the many inputs.

I'm thinking we can give folks an ambassadors playbook with official
materials that they can use for workshops, teachings.

At the moment, there are also a lot of unofficial materials floating
around. Some folks are actually charging for those workshops. This

[2019-07-17 17:14] kaichaosun commented on #166
## Improve the Docs
The Docs should be the most important part in the hub.

### Proposals
1.**Target**: by exploring Docs, dev can learn how to build **custom blockchain** and **smart contract** (we may move it out in the future). There is no need to redirect to other resources to complete the above target.

In the sidebar, we should have the following content just under **Getting Started**.
The u

[2019-07-17 17:17] kaichaosun commented on #45
IMO the principle should be making the Docs, rustdoc, tutorial, receipts **as isolated as possible**.
Proposals that could potentially improve UX:
https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/issues/166#issuecomment-512408811

[2019-07-17 22:43] shawntabrizi commented on #45
@kaichaosun Let's keep this item scoped to adding a shared navbar across all the sites.

We want the user to navigate to all parts of the developer hub from every other part.

Take a look at my project for injecting a navbar and see if you can make it work consistently across the different resources.

[2019-07-18 01:33] JoshOrndorff opened #182 "Document Instantiable Modules"
Modules that support it can be instantiated multiple times in a single runtime. I've dug fairly deep into this topic the last two days and I'm quite close to having it mastered, but a few small issues and questions remain.

My approach is to start with the node template, upgrade it's template.rs module to support instancing, and install two instances in the runtime. Finally, give each instance a g

[2019-07-18 03:39] kaichaosun commented on #104
https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/issues/166#issuecomment-512408811

[2019-07-18 14:57] shawntabrizi commented on #182
It may make sense to spend your efforts documenting this using Substrate v2.0.

Else we will just need to migrate later. I think the API has not changed, so other than sample code and projects, a user should be able to learn from this and apply to 1.0 if needed.

[2019-07-18 15:11] shawntabrizi opened #184 "Reupload and replace Readme.io images"
<img width="670" alt="image" src="https://user-images.githubusercontent.com/1860335/61468891-90b0f380-a97e-11e9-8225-fe942d92746d.png">

Related to #78

Basically we need to save all the images which are currently hosted on ReadMe.io, and save/upload them to our GitHub repository.

Whoever does this may also want to re-evaluate how our images currently live, since there is not a structure to them.

[2019-07-19 09:00] burdges opened #185 "Errors around transport keys"
We do want an Ed25519 key for the transport layer, but we see many wrong comments in https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/edit/source/docs/overview/session-keys.md

We prefer the transport key to reside only in memory, and be authenticated by the BABE key, not part of session key and authenticated by the controller key.  I explain the reasoning in https://gi

[2019-07-19 13:29] folsen commented on #166
I think the story around smart contracts is a bit muddled here, I agree with some of the previous sentiment that there is a large bias towards talking and thinking about smart contracts because it is the context that people already have. A question like "How do I write smart contracts on Substrate?" is a bit confused though. The answer is you don't. You write smart contracts and deploy them to "so

[2019-07-19 13:39] thiolliere commented on #182
hmm yes there might be issues because I didn't test the js app with many instances but I though it would work because the generated stuff by construct_runtime shouldn't be different between a regular module and one of a specific instance.

oh ok then it should be fixed, if you can come up with a reproducible error open an issue on substrate.
Code has changed a bit between 1.0 and master and instan

[2019-07-19 13:41] thiolliere commented on #182
note that now collective module is used with two instance in node/runtime on master

[2019-07-19 13:44] shawntabrizi commented on #166
@folsen great to get some feedback here. I align with most of your points.

There is still lack of clarity to me on the relative priority of continuing to build ink! tutorials/docs and contract module tutorials/docs.

Especially if there is a call to action on getting users to build, experiment, and test with ink! and the contract module, we need to provide a foundation of resources for them to wo

[2019-07-19 14:39] folsen commented on #166
Completely agree, I think the difference is just how we communicate it. It is up to a specific chain to go "come here and build and deploy contracts for use" and it's up to us to go "here's how this stuff works, if you want to contribute in improving it or if you want to use any of it for your own chain".

But to that end, we still need a ton of tutorials and docs on both ink and contracts module,

[2019-07-19 14:47] shawntabrizi commented on #166
@folsen Of the bullet points listed in this thread (which imply the creation or modification of some document), are there any that you don't agree with? Are there any docs not listed in this thread that you would expect to see in the near future?

I think the next logical step is to take the bullet points in this thread, and work together to stack rank them, and then allow those who want to contri

[2019-07-19 14:49] folsen commented on #166
@shawntabrizi

Nope, what I'm talking about here is more things to keep in mind while writing those, and setting the tone right. Agree with the general outline and the ink! stuff looks good as a start that we'd then eventually move to a website for ink itself or something like that.

[2019-07-21 16:25] 4meta5 commented on #177
Should focus on Substrate V2.0 docs in the immediate future. I (or someone else) can reopen when things are more stable.

[2019-07-21 16:25] #177 closed

[2019-07-23 23:09] xlc opened #188 "Document about choice of hashers"
Substrate offers few different hash algorithm, and for `double_map`, developer have to pick which one to use for first key and second key.

It will be good if there is a documentation to how the pro and cons for each algorithm and how to decide which hasher to use.

I think this is all we have so far, which describes when to use `blake2_256` but not other hashers.

///   Otherwise, other values of

[2019-07-26 15:43] #171 closed

[2019-07-29 15:41] thiolliere commented on #182
first point should have been solved by https://github.com/paritytech/substrate/pull/3188

[2019-07-29 17:23] #7 closed

[2019-07-30 11:04] ascjones opened #198 "Document `ext_dispatch_call` and custom Call type"
Rel: https://github.com/paritytech/ink/pull/124, https://github.com/paritytech/ink-types-node-runtime/pull/3

[2019-08-02 13:04] kaichaosun commented on #45
The different resources serve for different purposes, there is no need to share the navbar of substrate developer hub with other resources IMO.
Substrate developer hub is meant to be at the central place of different resources. Have a link to the homepage of dev hub within other resources makes sense to me. What do you think? @shawntabrizi

[2019-08-02 21:11] #45 closed

[2019-08-06 14:40] kaichaosun commented on #45
Like @JoshOrndorff said, link dev hub in rustdoc is a bit tricky, we need to modify the scripts that generates docs and include another html, which is not clean in Substrate codebase. Leave this piece of work until we have other requirements.

[2019-08-06 17:34] shawntabrizi opened #204 "Replace oo7 with Polkadot-JS API"
All of our tutorials and docs around developing runtimes currently use the oo7 libraries.

We want to transition to use the Polkadot-JS API instead since it is far better documented and maintained.

First step is to create a new "substrate-ui" template to replace the existing one, and from there, replace any instructions in tutorials on how to build custom UIs.

- [X] Build a Substrate UI Template

[2019-08-07 18:11] shawntabrizi opened #206 "Improve Developer Hub Introduction to Substrate"
In general, the "introductory" pages for Substrate jump too deep too quickly. I want to create a set of pages on the Developer hub where you need to know nothing but the english language to be able to understand what Substrate does.

Pages could consist of something roughly like:

- [x] What is Substrate?
- [ ] Why should I care?
- [ ] What is the Substrate ecosystem?
- [ ] What is the current sta

[2019-08-08 16:44] JoshOrndorff commented on #182
@thiolliere I'm back to working on this and I've merged in the change you mentioned, but I still can't get Apps UI to show me that two instances of my module (just the template module modified to support instancing) are installed in the runtime. I've decided to focus entirely on substrate 2.0 and my code is at https://github.com/JoshOrndorff/substrate/tree/instantiable/node-template (Don't merge l

[2019-08-08 18:05] JoshOrndorff commented on #182
Trying to debug further, I see that the full node _does_ work as advertized and Apps handles the Council and TechnicalCommittee just fine. One difference I noticed is that the full node uses `Config<T>` instead of just `Config` like I did. But mine won't compile with `Config<T>`

[code]

I've tried a few things unsuccessfully to get past that compile error. This seems like a good time to ask some

[2019-08-09 00:01] shawntabrizi commented on #206
What is Substrate draft: https://hackmd.io/DS62xxYTTw2nnKoNXI7ZLg?view

[2019-08-09 07:51] joepetrowski commented on #206
This sentence is near the _bottom._ It should really be in the first paragraph.

# I would go at it like this:

## Intro paragraph. That sentence above should be part of it.

## What is a runtime
- This is what users care most about. We can explain the core later.
- Here, a little context is worthwhile, like "a blockchain can be defined by its STF."

## Stack
- Now that you've explained where the

[2019-08-09 08:07] joepetrowski commented on #206
Re: above

It's tempting to explain everything. Like how abstract/generic Substrate is, runtime upgrades, swappable consensus, offchain workers, etc. But, to me this page has two goals:

1. Make people want to dig deeper and read the other pages on dev hub and/or try a tutorial, where they will have more patience to get deep into one topic.
2. Give context to ubiquitous topics in Substrate, e.g. _

[2019-08-10 12:37] shawntabrizi commented on #182
@JoshOrndorff `Config<T>` versus `Config` is more about if you use generics or not. It is not the problem here.

The error you could be running into could be a problem with the UI. You should confirm by looking at your Runtime metadata and seeing if both modules appear there, or only one.

[2019-08-13 01:04] iammelea opened #210 "1 cmd for install subkey and 1 cmd for install substrate and subkey, not 2"
hello here
https://substrate.dev/docs/en/ecosystem/subkey
[code]

this cmd not work or is outdate ```curl https://getsubstrate.io -sSf | bash -s -- --fast```

and

this other cmd fails too, ```cargo install --force --git https://github.com/paritytech/substrate subkey```
for work need install before

[code]

then run the cmd, works fine and install ```subkey 2.0.0``` with  = ```cargo install --forc

[2019-08-21 08:42] #155 closed

[2019-08-29 13:17] shawntabrizi opened #222 "Add Branch Protections and Checks"
* Check Source Branch builds before new commits are merged
* Make source branch only allow pull requests, no direct changes to master
* Make so that `master` branch can only be updated by our deployment bot

* other?

[2019-08-29 22:31] JoshOrndorff commented on #222
The second item means that nobody can push directly to `source` but instead we have to make PRs right?

If so, I think these are all a good ideas.

But I don't have permissions to set that up.

[2019-08-30 09:20] shawntabrizi commented on #222
@JoshOrndorff try again now?

[2019-08-30 16:39] JoshOrndorff commented on #222
@shawntabrizi Yep, I have access now, Thanks.

[ ] Check Source Branch builds before new commits are merged

[x] Make source branch only allow pull requests, no direct changes to master

[x] Make so that master branch can only be updated by our deployment bot

[2019-09-01 14:07] shawntabrizi commented on #222
The build checks are not actually completing

[2019-09-02 16:11] shawntabrizi opened #227 "Add Google Analytics with Klaro Consent"
We want to add google analytics to Substrate Developer Hub, but we also want to ensure that we are GDPR compliant.

Fortunately, we can use Klaro to do these all without a server.

Here is how it is done for the Kusama Network site:
https://github.com/kusamanetwork/kusama.network/commit/e6e3a7f3d9772a222bf968d8e201fe695c217ff6

We need to use our own fork of the repo to use local storage rather th

[2019-09-02 16:17] shawntabrizi commented on #227
We can probably create a centralized plugin that can be reused everywhere, and thus only a single consent is needed across all the substrate.dev sub-sites.

[2019-09-02 17:17] JoshOrndorff commented on #222
The issue was that branches in forks were not triggering the build. @shawntabrizi has confirmed it's resolved now.

[2019-09-02 17:17] #222 closed

[2019-09-02 20:19] JoshOrndorff commented on #227
I'm fine with this implementation if we choose to use analytics. I just want to at least consider not using analytics for all the reasons that Stallman talked about at web3Summit.

[2019-09-03 22:44] kaichaosun commented on #227
It seems we have more options:
* Use consolidated GA account
* [Matomo](https://matomo.org/)
* [Snowplow](https://github.com/snowplow/snowplow)

I will use a standalone google analytics account for initial implementation.

[2019-09-04 13:15] shawntabrizi commented on #227
@kaichaosun We already have a GA account.

Please use these settings:

[code]

[2019-09-04 13:18] shawntabrizi commented on #227
You can also see how they integrated Klaro into Parity.io:

https://github.com/paritytech/paritytech.github.io/commits/master

[2019-09-07 00:52] JoshOrndorff opened #233 "OnChange function not explained sufficiently in front-end tutorial"
I'm not clearly understanding the `onChange` function described in [part 3.1](https://substrate.dev/docs/en/tutorials/substrate-front-end/part-3-transfer-funds#31-transfer-funds) of the front end tutorial. I so understand that updates the necessary parts of the components state, but I'm really struggling to understand the signature and how it is called.

The [complete function](https://github.com/

[2019-09-07 01:32] #34 closed

[2019-09-07 12:03] Tbaut commented on #233
You're looking at the wrong documentation: https://react.semantic-ui.com/modules/dropdown/
 and https://react.semantic-ui.com/elements/input/

This should answer most of your questions. Although it doesn't fully apply here, some background:
In JS, if a function has 2 params in its signature, but you only want to use the second, you still need to mention a variable that will get the first unneeded

[2019-09-07 19:19] JoshOrndorff commented on #233
Thanks @Tbaut! That helps a ton

[2019-09-07 19:19] #233 closed

[2019-09-11 09:35] shawntabrizi commented on #227
@kaichaosun We still want to add these same components to other projects in the Substrate Develop Hub, for example the Kitties tutorial.

Is there some code we can generally copy and paste to make that happen?

[2019-09-11 09:37] kaichaosun commented on #227
Yep, I will make sure other resources also add the GA track. The issue seems auto closed, I will reopen it.

[2019-09-11 09:41] shawntabrizi commented on #227
It would be good to have some general guide or copy paste code that we could add to other and new sites more easily.

Shouldn't be your responsibility to necessarily add it to every site, but the project owners to follow your guide or copy and paste your code.

[2019-09-11 09:44] kaichaosun commented on #227
Cool, I will summarise it in a post.

[2019-09-11 15:58] JoshOrndorff commented on #227
It would be really nice if we could actually use the same cookies and settings so users don't have to accept cookies when they go to substrate.dev and then accept them again when they go to kitties, and a third time when they go to rustdocs etc.

If that's more complex, nbd, but if it can be done easily it would be nice.

[2019-09-12 07:48] shawntabrizi commented on #227
@JoshOrndorff this too is the implementation I am looking for, and I believe what will be the case with this setup.

[2019-09-12 22:16] shawntabrizi opened #241 "DevEx Reading Day 2019-09-13"
Please make sure to read these 5 pages from the Fuchsia documentation. It is likely we will copy these patterns nearly directly if no one calls out any issues:

* https://fuchsia.dev/fuchsia-src/best-practices/documentation_types
* https://fuchsia.dev/fuchsia-src/best-practices/documentation_standards
* https://fuchsia.dev/fuchsia-src/best-practices/documentation_comments
* https://fuchsia.dev/fuc

[2019-09-13 14:16] kaichaosun commented on #241
I was playing around with the test of coin flip game, let me know if you find something silly :)
https://github.com/kaichaosun/substrate-coin-flip/commit/5a40469e59f92c8c1c7cb4593fc2d8090465d879

[2019-09-14 07:20] kaichaosun commented on #227
The steps to integrate GA and klaro:
https://hackmd.io/@2dHpJQYgQrCqfxqXMtJTFQ/Bk6-VMc8B

[2019-09-14 15:23] 4meta5 commented on #241
Last week I added a [`treasury`](https://substrate.dev/recipes/tour/treasury.html) section to the `srml-tour` in the **recipes**. I aligned with the discussed and decided [V2 vision](https://github.com/substrate-developer-hub/recipes/issues/32) by only serving to extract patterns from this module. I think there should also be a more comprehensive walk through for the treasury as well as its runtim

[2019-09-16 12:40] shawntabrizi commented on #241
@JoshOrndorff Left you comments on ui template
https://github.com/substrate-developer-hub/substrate-front-end-template/issues/39

@kaichaosun left you comments on test and the ui
https://github.com/kaichaosun/substrate-coin-flip/commit/5a40469e59f92c8c1c7cb4593fc2d8090465d879
https://github.com/kaichaosun/substrate-front-end-template/pull/1

@4meta5 left you comments on the treasury pr
https://git

[2019-09-16 14:20] #241 closed

[2019-09-23 23:48] shawntabrizi commented on #166
Closing in favor of the in progress work we are doing. Will write up a new thing

[2019-09-23 23:48] #166 closed

[2019-09-23 23:49] #13 closed

[2019-09-23 23:49] #14 closed

[2019-09-23 23:49] #15 closed

[2019-09-23 23:49] #18 closed

[2019-09-23 23:49] #27 closed

[2019-09-23 23:49] #28 closed

[2019-09-23 23:49] #32 closed

[2019-09-23 23:49] #33 closed

[2019-09-23 23:50] #1 closed

[2019-09-23 23:50] #49 closed

[2019-09-23 23:50] #54 closed

[2019-09-23 23:50] #61 closed

[2019-09-23 23:51] #72 closed

[2019-09-23 23:51] #86 closed

[2019-09-23 23:51] #104 closed

[2019-09-23 23:51] #136 closed

[2019-09-23 23:51] #118 closed

[2019-09-23 23:55] shawntabrizi commented on #178
Closing this as its not really related to docs. We should maybe open another repo for more speculative ideas around the larger ecosystem?

[2019-09-23 23:55] #178 closed

[2019-09-23 23:56] JoshOrndorff commented on #182
This was written in https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/pull/208 and finished up in https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/pull/217

[2019-09-23 23:56] #182 closed

[2019-09-23 23:56] #123 closed

[2019-09-23 23:57] shawntabrizi commented on #71
@4meta5 consider this for recipes

[2019-09-23 23:57] #71 closed

[2019-09-24 00:00] shawntabrizi commented on #68
Take a look at something like `run_to_block` in Polkadot crowdfund:
https://github.com/paritytech/polkadot/blob/master/runtime/src/crowdfund.rs#L671

In general, if we wanted to follow exactly how executor does it, we would need to create an array of modules:

I agree this can be done generally. Speaking about this issue though, @4meta5 should consider a recipe for this one

[2019-09-24 00:00] #68 closed

[2019-09-24 00:00] #175 closed

[2019-09-24 00:01] #51 closed

[2019-09-24 00:01] #52 closed

[2019-09-24 00:01] #53 closed

[2019-09-24 00:02] shawntabrizi commented on #47
Related to https://github.com/substrate-developer-hub/hacktoberfest/issues/9

Closing because not docs

[2019-09-24 00:02] #47 closed

[2019-09-24 00:02] shawntabrizi commented on #20
This will be recipes @4meta5

[2019-09-24 00:02] #20 closed

[2019-09-24 00:02] #38 closed

[2019-09-24 00:03] shawntabrizi commented on #55
The attempt at this is the `who` pages, but this might need revision

[2019-09-24 00:03] #55 closed

[2019-09-24 00:03] #62 closed

[2019-09-24 00:05] shawntabrizi commented on #198
ink! docs got slimmed down into the contracts workshop.

[2019-09-24 00:05] #198 closed

[2019-09-24 00:06] #149 closed

[2019-09-24 00:07] #159 closed

[2019-09-24 00:08] shawntabrizi commented on #172
Will crate a new issue for this linking to the new page we have for RPC

[2019-09-24 00:08] #172 closed

[2019-09-28 23:20] shawntabrizi opened #258 "Final Touches: Proof Of Existence Tutorial"
- [ ] Gather Feedback from Users

- [ ] Add links to the tutorial from other docs

- [x] Possibly update the "test" section to a different name

- [x] Fix `...` with `--snip--`

- [ ] ~~Fix comments from `//` to `///` where possible~~ (breaks macros)

- [x] Add code comments to front-end

- [x] Update use of "forked" when referring to Git

- [x] Make code snippets copy-able.

[2019-09-29 00:10] shawntabrizi commented on #258
Copyable code blocks: https://gist.github.com/yangshun/55db997ed0f8f4e6527571fc3bee4675

[2019-09-29 00:13] shawntabrizi commented on #258
How can I turn `...` into `--snip--` while producing valid rust syntax which only takes one line?

[2019-09-29 21:46] JoshOrndorff commented on #258
`/* --snip-- */`?

[2019-09-30 09:21] gnunicorn opened #260 "width > 100%"
For some reason some of our elements float out of the page width (even on very wide screens) on firefox. See the scroll-bar on the bottom. It is not visible what exactly is causing this, but it is present on all pages.

![image](https://user-images.githubusercontent.com/40496/65865925-47b0ee80-e374-11e9-9780-2a3f1442da98.png)

[2019-09-30 13:33] shawntabrizi commented on #260
This has to be new. I have not seen this until now.

[2019-09-30 20:40] JoshOrndorff commented on #260
I've also never seen it before and confirm it is on the live site now. I just went back through the history of the repo as far as e1043bebf2422 from almost two weeks ago and have the same error. It couldnt have been on the site that long without us noticing right?

[2019-09-30 23:19] shawntabrizi commented on #260
It seems to be introduced with @kaichaosun's PR which introduced items to the footer:

[code]

This "row" item is the problem.

[2019-10-01 00:13] shawntabrizi commented on #258
#263 solves the last item on the list

[2019-10-01 09:13] shawntabrizi commented on #258
Updated last chapter to "Building a Custom Front End"

[2019-10-01 09:38] #258 closed

[2019-10-01 13:08] kaichaosun commented on #260
Klaro consent pop up is out of the screen.

[2019-10-01 13:28] kaichaosun commented on #260
It's caused with [this commit](https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/commit/0562afdfd621f4c2ea047aef0f80f2be1788812e).

[2019-10-01 13:51] riusricardo opened #265 "Fix code boxes to use the Copy button"
A new functionality was implemented in our docs but it requires to have instructions to have it's own box or use a operator to handle multiples commands.
[code]
Change to:
[code]
[code]
Or:
[code]

[2019-10-01 14:40] shawntabrizi commented on #260
Also the original prompt is stuck at the bottom of the page:
<img width="975" alt="image" src="https://user-images.githubusercontent.com/1860335/65972421-187ca900-e46a-11e9-8b82-339d6e27879b.png">

We should revert this commit if it is causing this many issues

[2019-10-01 15:15] gnunicorn commented on #260
arguably, this is a different issue ...

[2019-10-01 15:16] #260 closed

[2019-10-01 15:39] kaichaosun opened #268 "Unable to load substrate.dev caused by clipboard.min.js in China"
![image](https://user-images.githubusercontent.com/10568673/65977494-9a89c380-e4a4-11e9-9713-a6a03a7fb2c4.png)

[2019-10-01 23:23] shawntabrizi commented on #268
the whole site fails to load?

I can download the file and upload it directly, but I would want to understand better what you see on your screen.

[2019-10-01 23:31] #268 closed

[2019-10-02 00:57] kaichaosun commented on #268
@shawntabrizi The site is loaded after fetching script is failed.

[2019-10-02 10:35] shawntabrizi opened #272 "Further Reduce Complexity of Proof of Existence Tutorial"
The PoE runtime only needs one function `create_claim`

The `revoke_claim` functionality was added when we took a deposit from a user, and wanted to allow them to get that deposit back... but let's be honest, revoking a claim on a PoE blockchain doesn't even really make sense...

We can remove this which simplifies the UI and the runtime development part.

[2019-10-02 10:36] shawntabrizi commented on #272
For a production level PoE chain, it might make sense for all "deposits" to go into a treasury which is paid out to users who maintain the network... or better yet just pay the block authors directly through transaction fees.

[2019-10-02 12:35] HCastano opened #273 "Resizing Window Hides Content"
I was resizing my browser from full screen to half screen and noticed that some pages don't handle the resizing correctly. I tried resizing [this page](https://substrate.dev/docs/en/getting-started/) on Firefox (v69.0.1) and Chrome (v77.0.3865.90), and all the content disappeared.

Full-size page:

![image](https://user-images.githubusercontent.com/12344623/66044301-833ceb80-e521-11e9-9425-f1c5658

[2019-10-02 12:41] shawntabrizi commented on #273
@gnunicorn lol

[2019-10-02 14:18] shawntabrizi commented on #273
Semi fixed with https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/pull/274

[2019-10-02 14:28] gnunicorn commented on #273
`git bisect` told me this was introduced in `1ae4e4b9c09ba229edec82b9725a9eecc7044964` "temp fix for small screen (#274)"

[2019-10-02 16:10] #273 closed

[2019-10-12 05:18] kaichaosun opened #283 "Use docker to start a blockchain"
This is feedback from one of the community members. The initial requirements are:

I'm working on multiple projects with different versions of rust and there are always some problems with rust nightly versions that are installed and that give errors while running this scripts inside.
Although this is not a problem with project itself but with rustc and the way it works, all this could be bypassed

[2019-10-13 03:37] shawntabrizi opened #284 "Document transaction fees"
Details here:

https://github.com/paritytech/substrate/pull/3796

Need to figure out the right place to document this, probably transaction weight.

[2019-10-14 01:04] JoshOrndorff commented on #284
But do allow free transactions from accounts with zero balance.

[2019-10-14 07:24] jimmychu0807 opened #286 "Linking to proper version of rust-doc and tutorials in `next` version of the site"
- tutorials should link to their next version (currently still pointing to v1)
- rust doc should point to the master branch

[2019-10-14 19:25] JoshOrndorff commented on #284
Another relevant PR: https://github.com/paritytech/substrate/pull/3816 Where transaction fees are separated into another module.

Let's make this issue about documenting transaction fees in general and filling in https://substrate.dev/docs/en/next/development/module/weight which should be renamed from weight to fees.

[2019-10-16 14:27] #204 closed

[2019-10-16 14:44] shawntabrizi commented on #284
Just make sure we don't miss addressing this specific point Gav wanted pointed out :)

[2019-10-16 15:43] JoshOrndorff commented on #284
The specific point being:

[2019-10-21 19:00] kianenigma opened #291 "SegnedExtensions"
as it is
- Quite important
- Important to know internal and externally
- Linked to fees stuff.

[2019-10-24 19:05] lerajk commented on #70
not very clear in this tutorial on how to set up the genesis configuration. it will be useful to add some references.

https://substrate.dev/substrate-verifiable-credentials/#/docs/securing-issuing

[2019-10-25 01:13] JoshOrndorff commented on #70
@lerajk Are you currently stuck on this? If you share your code I can help you get unstuck. If you can say what wasn't clear or have some specific tips to fix that tutorial, you could open an issue over here https://github.com/substrate-developer-hub/substrate-verifiable-credentials/issues

[2019-10-25 19:32] JoshOrndorff commented on #284
@kianenigma We still need to capture this tip about free transactions from accounts that don't have existential deposit. I'm not totally clear what domain this applies to. Only when we're using the balances module to collect transaction fees?

[2019-11-07 17:44] Stefie opened #304 "Create logos/ logo theme for tutorials"
Taken from retreat pop-up meeting:

Create a theme / CI for the tutorial logos and create logos for the existing ones.
https://substrate.dev/en/tutorials

// cc Zsofia

[2019-11-08 11:39] weichweich opened #306 "node version in "Your First Substrate chain" tutorial"
I followed the [Creating Your First Substrate chain](https://substrate.dev/docs/en/tutorials/creating-your-first-substrate-chain) and encountered some minor issues.

First it might help to mention that `yarn install` should be run before `yarn run dev`.

The second issue I had was that I got some errors when using the latest node version (v13.1.0).
In the README of the substrate-ui project it says

[2019-11-08 16:26] JoshOrndorff commented on #306
@weichweich Thanks for reporting and using the tutorial. I've made a PR to fix the issues you reported.

I also wanted you to know that the doc you're referencing is about Substrate v1.0 which will be deprecated soon. You may enjoy trying this new tutorial for Substrate master. https://substrate.dev/docs/en/next/tutorials/creating-your-first-substrate-chain/

[2019-11-08 16:30] JoshOrndorff commented on #304
cc @meheszsofi

[2019-11-08 18:21] #306 closed

[2019-11-09 11:04] jimmychu0807 opened #308 "Setup staging site for substrate-dev"

[2019-11-10 11:38] JoshOrndorff opened #312 "Revise Seminar page"
substrate.dev/seminar is currently quite minimal and was pushed out quickly in #310 in preparation for the first meeting. Here are some remaining tasks.

- [ ] Revision from design team (@meheszsofi, @goldsteinsveta)
- [ ] Embed recordings
- [ ] Banner that shows on the day of the seminar (like the [hacktoberfest one](https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/pul

[2019-11-14 09:28] kianenigma opened #324 "Rename to Palette and Pallet terms"
- [x] Update Github Substrate Master Links

- [x] Update Reference Docs Links

- [ ] Update known direct replacements (SRML -> Frame, SRML Contracts module -> Contracts pallet, runtime module -> pallet)

- [ ] A final hand rename of in sentence terms

[2019-11-14 09:29] kianenigma commented on #284
done

[2019-11-14 09:29] #284 closed

[2019-11-14 18:13] JoshOrndorff commented on #227
@kaichaosun I think this is done right? Re-open if it's not done.

[2019-11-14 18:13] #227 closed

[2019-11-15 08:17] jimmychu0807 opened #326 "Adding Key Management section in substrate.dev"
- Content coming from:
https://github.com/paritytech/substrate/tree/6ae3b6c4ddc03d4cdb10bd1d417b95d20f4c1b6e#7-key-management

- Decide where is the best place for this content to goto.

[2019-11-15 10:42] drandreaskrueger opened #327 "suggestion what to add to 'start-a-private-network-with-substrate'"
see this comment here: https://github.com/paritytech/substrate/issues/4096#issuecomment-553936224

the 3rd paragraph "I think this page needs some modifications/additions ..."

[2019-11-15 10:52] niklasad1 opened #328 "rename `.scripts` to `.maintain`"
See https://github.com/paritytech/substrate/pull/4074 for further info.

[2019-11-16 05:24] #308 closed

[2019-11-21 14:33] shawntabrizi commented on #324
Step 1 addressed with: https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/pull/338

[2019-11-21 22:34] shawntabrizi commented on #324
Step 2 addressed with: https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/pull/340

[2019-11-22 10:09] shawntabrizi commented on #327
@JoshOrndorff This can be closed?

[2019-11-22 10:10] shawntabrizi opened #342 "Document Runtime Upgrades"
* What are different runtime version types, when should I bump them, when not? (authoring, spec, impl, ...)
* Who can issue runtime upgrades? (sudo, democracy, council, ...)
* When do I have to do runtime upgrades? Anything that modifies the actual runtime?
* How does the technical process look like, how to I correctly build the runtime and how do I push it to my running chain? Does this require a

[2019-11-22 14:02] #327 closed

[2019-11-27 22:24] webmaster128 opened #348 "Broken link in "Weight Fundamentals""
In https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/blob/source/docs/conceptual/runtime/weight.md#weight-fundamentals, there is a broken link in the first paragraph: `https://substrate.dev/rustdocs/master/sr_primitives/weights/type.Weight.html`

[2019-11-28 11:05] #348 closed

[2019-12-10 02:06] master-davidlee opened #362 "substrate-front-module error"
hey guys  I just fellow your tutorial Creating  your first substrate chain  and when into the last chapter ,
I have already finish the .rs file  and want to copy the font-end code but it won't pass compile it says
![Screenshot from 2019-12-10 10-05-56](https://user-images.githubusercontent.com/49427668/70488775-bb216a00-1b34-11ea-8515-fc13e1077ee9.png)

[2019-12-11 09:02] SelvarajDhaamodaran opened #364 "Substrate Deployment URL not available (404)"
https://substrate.dev/docs/en/overview/tutorials/start-a-private-network-with-substrate.md not available

[2019-12-11 09:43] SelvarajDhaamodaran opened #365 "Creating Your First Substrate URL not found (404)"
https://substrate.dev/docs/en/overview/tutorials/creating-your-first-substrate-chain.md

[2019-12-11 12:05] kaichaosun commented on #365
Hi @SelvarajDhaamodaran where do you find this broken link? I believe this tutorial already linked to the next branch and it's accessible from the tutorial page. https://substrate.dev/docs/en/next/tutorials/creating-your-first-substrate-chain/

[2019-12-12 03:13] JoshOrndorff commented on #362
You mean you've followed the tutorial all the way through this step https://substrate.dev/docs/en/next/tutorials/creating-your-first-substrate-chain/build ?

Have you re-compiled the node after adding the ProofOfExistence code to the node template? Is your code on github for me to take a look at?

[2019-12-12 03:17] JoshOrndorff commented on #364
This is probably the link you're looking for https://substrate.dev/docs/en/next/tutorials/creating-your-first-substrate-chain/

I'll close this issue, but please do let us know where you found these broken links in #365 so we can fix them.

[2019-12-12 04:29] SelvarajDhaamodaran commented on #365
the link is available in the following URL
https://substrate.dev/docs/en/overview/

Under the USAGE section

[2019-12-12 04:29] SelvarajDhaamodaran commented on #365
the link is available in the following URL
https://substrate.dev/docs/en/overview/

Under the USAGE section

[2019-12-12 04:29] #365 closed

[2019-12-12 04:30] SelvarajDhaamodaran commented on #364
the link is available in the following URL
https://substrate.dev/docs/en/overview/

Under the USAGE section

[2019-12-12 04:33] #364 closed

[2019-12-12 04:34] JoshOrndorff commented on #364
Forgot to close earlier. Thanks for following up. Will report back in #365

[2019-12-12 16:50] JoshOrndorff commented on #324
Some thoughts about docs/conceptual/runtime/srml.md for step 4, copied from https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/pull/344#discussion_r356963924

* Rename the entire file
* Rename all the headers eg System Module -> System Pallet
* rename srml -> ?? (brought this up on riot chat)

And @joepetrowski's suggestion for the former SRML article intro
[code]

[2019-12-16 17:25] JoshOrndorff opened #370 "Implement new Seminar landing page"
@ericmorel recently designed a nice [new mockup](https://paritytech.github.io/parity/devhub-seminar) for the Substrate Seminar landing page at substrate.dev/seminar

This ticket is complete when it is implemented on the live devhub.

[2019-12-17 23:58] bertstachios opened #372 "Broken link on Overview page"
Broken link to tutorial *Start a Private Network with Substrate* at https://substrate.dev/docs/en/next/

![image](https://user-images.githubusercontent.com/43627527/71044229-3adab480-2185-11ea-9283-71af873b0cc0.png)

[2019-12-18 02:36] riusricardo commented on #372
It should be: https://substrate.dev/docs/en/next/tutorials/start-a-private-network/
Instead of: https://substrate.dev/docs/en/next/tutorials/start-a-private-network-with-substrate.md
The same page needs fixes to replace SRML to FRAME.

[2019-12-18 02:56] kaichaosun commented on #372
I notice there are a lot of places still using SRML under docs. will open another issue for all the renaming.

[2019-12-18 02:58] riusricardo commented on #372
We need to do a  review of all the Docs to replace SRML to FRAME and any related reference. This is a logged [task](https://github.com/paritytech/devex-planning/issues/22) to update DevHub but we need someone else to take it.

[2019-12-18 03:01] kaichaosun commented on #372
I'm working on it.

[2019-12-18 03:26] #372 closed

[2019-12-18 03:26] kaichaosun commented on #372
Thanks @bertstachios

[2019-12-26 02:51] master-davidlee commented on #362
sorry bro  last two weeks i broke up .So doesn't learn at all    I will do this tutorial again to find if I was miss some steps @JoshOrndorff

[2019-12-26 04:02] master-davidlee commented on #362
I just do it again the same error
![Screenshot from 2019-12-26 12-01-46](https://user-images.githubusercontent.com/49427668/71457133-828dbb80-27d7-11ea-9103-c06907e63e74.png)

[2019-12-28 05:32] riusricardo commented on #362
@master-davidlee The issue that you have is that you're running the front-end-template using the unmodified code from the node-template. It is unable to find the storage value `proofs` because it doesn't exists in the template code. This storage value is created on the tutorial.
There are a few new changes to build the tutorial with the node-template. PR [#390 ](https://github.com/substrate-develo

[2019-12-29 17:06] SelvarajDhaamodaran commented on #364
Hi,
                I can see a good documentation on the substrate explanation. Similarly, could you please provide a documentation for setting up the relaychain and parachain setup with examples?

Thanks,
Selvaraj Dhaamodaran

From: Joshy Orndorff <notifications@github.com>
Sent: Thursday, December 12, 2019 10:04 AM
To: substrate-developer-hub/substrate-developer-hub.github.io <substrate-develop

[2019-12-29 19:25] NikVolf opened #392 "Start a Private Network is a bit inconclusive"
https://substrate.dev/docs/en/next/tutorials/start-a-private-network/customchain

After last step, it's rather hard to figure out that everything is configured successfully. Should user see configured accounts in the js app?  How can he tell that he now produces blocks, what should he see in node CLI?

[2020-01-02 15:54] riusricardo commented on #362
Fixed. PR #390

[2020-01-02 15:54] #362 closed

[2020-01-02 18:41] JoshOrndorff commented on #364
@SelvarajDhaamodaran Starting your own relay chain is nearly identical to the [Start a private network tutorial](https://substrate.dev/docs/en/next/tutorials/start-a-private-network/) that you originally asked about. The main difference is that you'll use the [Polkadot repository](https://substrate.dev/docs/en/next/tutorials/start-a-private-network/) rather than the node template as that tutorial

[2020-01-05 10:28] jimmychu0807 commented on #392
Very true, let me add a screenshot of the terminal and what the user should see.

- should have 1 peer instead of 0 peers
- should see proposing block from both Alice's and Bob's terminals.

cc @JoshOrndorff

[2020-01-06 08:01] joepetrowski commented on #75
Closing this - some other people have made scripts for dep graphs.

[2020-01-06 08:01] #75 closed

[2020-01-06 16:07] JoshOrndorff opened #401 "Consensus diagrams are ugly"
The [consensus article](https://substrate.dev/docs/en/next/conceptual/core/consensus) contains diagrams that are helpful in terms of content, but ugly in terms of design. They should be replaced by an actual designer.

[2020-01-06 17:21] goldsteinsveta commented on #401
Something like this?
![longest chain](https://i.imgur.com/kGXpdrW.png)
![GHOST](https://i.imgur.com/y5Mk5TF.png)

[2020-01-06 19:46] JoshOrndorff commented on #401
Yes! Those are awesome! We can remove the title from the image since it is already in the surrounding page. I can do that myself unless you'd rather do it. May I go ahead and include these images?

[2020-01-06 20:33] JoshOrndorff commented on #401
Well I guess you put them here so I could use them, so I will. Thanks again :)

[2020-01-06 20:33] #401 closed

[2020-01-07 07:32] cecton commented on #392
Heya o/

I did this tutorial recently and I have some feedback and recommendations:

1. Adding explicitly in the tutorial "Generating keys" a phrase that says: "We are going to generate at least 2 set keys so we can have at least 2 nodes for the purpose of this tutorial"

I know it's already wrote clearly that we generate keys per node but for someone with limited knowledge I guess it wasn't obvio

[2020-01-07 20:04] JoshOrndorff opened #405 "Newly released versions do not show sidebars"
At the developer experience team meeting on 6 Jan we agreed to release a new version of the devhub docs so that the old and largely irrelevant v1.0 docs were not the default docs shown. We agreed to release a version `pre-2.0` now or soon and another version `2.0` when Substrate v2.0 is released.

I was not successful in cutting the new `pre-2.0` version. The process is simple and [documented here

[2020-01-08 06:04] SelvarajDhaamodaran commented on #364
Hi Joshy,
                Thanks for the information.
We are primarily focusing on the exploring on the polkadot interoperability and how to bridge with the external blockchain network like ethereum. If you have any documentation on the setting up the bridge network that will also help us.
I will work on the Cumulus Workshop url you have  given and let you know if I have any questions.

Thanks,
Se

[2020-01-08 15:59] JoshOrndorff commented on #405
Fixed in #406. Awesome job @jimmychu0807

[2020-01-08 16:00] #405 closed

[2020-01-09 06:16] kaichaosun opened #408 "Add the help translate page back"
I notice that the [help translate](https://substrate.dev/docs/en/1.0/contribute/help-translate) page has been removed in pre2.0 and next docs, is there specific reason that I missed? If not, I will put it back.

[2020-01-09 06:21] jimmychu0807 commented on #408
@kaichaosun, thanks. Feel free to do PR to add that page back.

[2020-01-09 08:04] SelvarajDhaamodaran commented on #364
Hi,
                I am trying to setup the polkadot environment using the Cumulus Workshop<https://apc01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fjoshorndorff.github.io%2Fcumulus-workshop%2F%23%2F&data=02%7C01%7Cselvaraj.dhaamodaran%40cognizant.com%7C3865ec26c2034938e98f08d78fb3558a%7Cde08c40719b9427d9fe8edf254300ca7%7C0%7C0%7C637135872718818748&sdata=TWvzkof07ZvQPdJ73ViXOJGYqtsDVFE0U

[2020-01-09 08:51] #408 closed

[2020-01-10 03:33] jimmychu0807 opened #411 "Check links to crates.parity.io"
Some links to crates.parity.io are pointing to 404.

Btw, what is the context of having https://crates.parity.io and https://substrate.dev/rustdocs/master ? Are we migrating one over to another? @shawntabrizi  @folsen

[2020-01-10 09:01] shawntabrizi commented on #411
You should use `https://substrate.dev/rustdocs/...` for all Rust docs in the Substrate Developer Hub.

We provide versioning:

* https://substrate.dev/rustdocs/master
* https://substrate.dev/rustdocs/v1.0
* https://substrate.dev/rustdocs/v2.0 (soon)

And it provides telemetry + analytics that we have set up.

[2020-01-10 16:55] JoshOrndorff opened #414 "Diagram still uses "SRML""
The diagram at https://substrate.dev/docs/en/#usage still talks about the SRML. The file itself is https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/blob/source/docs/assets/technical-freedom.png

[2020-01-13 17:44] domob1812 opened #416 ""Creating an external pallet" tutorial is broken"
The [tutorial for creating a pallet as external crate](https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/blob/source/docs/tutorials/creating-a-runtime-module.md) is broken for me.  (I just tried to walk through it, without having too much prior exposure to Substrate.)  "Broken" here means that I followed all instructions closely, but building the node runtime fails after

[2020-01-13 18:13] riusricardo commented on #416
Thanks for the catch. This tutorial is going to be fixed in the next days.
You can take a look at https://github.com/riusricardo/substrate-pallet-template/tree/ricardo-node-pallet to get a better idea of where it is headed.
It is correct to use the pallet-template.

[2020-01-13 19:20] JoshOrndorff commented on #416
Indeed, it should be that pallet template. PR #417 that fixes that in the tutorial. Thanks for catching it.

The error you posted probably is a mistake on your part, but I can't figure out what it would be from the message alone. If the code @riusricardo posted doesn't help you find your error, please post a link to your complete code, and I'll try to compile it myself. Most likely I can find the

[2020-01-14 05:53] domob1812 commented on #416
Thanks for the feedback!  I'll try out @riusricardo's code and let you know if it helps.

[2020-01-14 09:55] domob1812 commented on #416
I've now looked at my code again in detail, and got it to work.  I still had some "bad" changes in it from trying to work around the outdated module repository previously.  It now all works.

I'll leave this issue open so you can decide when to close it (e.g. after #417 is in).  Thanks for the fast response and help!

[2020-01-14 16:15] JoshOrndorff commented on #416
You're welcome. Let us know if you need more help with Substrate :)

[2020-01-14 16:15] #416 closed

[2020-01-16 10:33] jimmychu0807 opened #421 "Tutorial for offchain workers"

[2020-01-16 10:38] joepetrowski opened #422 "[Meta] Miscellaneous Bits of Substrate Knowledge"
We often find bits of Substrate interesting but not sure where it fits into the docs. Keeping this issue open to comment in if you find some tidbits that you think are worth sharing but not sure where. Once we have a list, we might see a logical way of combining them.

[2020-01-17 10:13] goldsteinsveta opened #424 "Docker"
I wish there were directions to docker compose file and image on the Devhub i.g. for quick checks or for those who build on the top of a node: smart contracts or front ends

[2020-01-17 14:27] JoshOrndorff commented on #424
I learned this in devops riot channel the other day

David:

e.g. see pipeline: https://gitlab.parity.io/parity/substrate/pipelines/74606

Me:

David:

They link to the file: https://releases.parity.io/substrate/x86_64-debian:stretch/2.0.0-8cb71bd/substrate/substrate and the docker image parity/substrate:2.0.0-8cb71bd

[2020-01-17 14:42] goldsteinsveta commented on #424
Ok, that's super nice to know actually...but what I'd like to find when typing "docker" in the search field is ~this one here: https://github.com/paritytech/srml-contracts-waterfall/blob/master/docker-compose.yml

I think it would be super cool to have it in the Getting Started or in Ecosystem Tools. I guess I can write a small paragraph myself though?

[2020-01-20 10:27] SelvarajDhaamodaran commented on #364
Hi Joshy,

                I am getting the error message when I tried to start the parachain. Not sure where I am going,  could you please help me in resolving the error message?

Error: Input("Input(\"Client(Backend(\\\"IO error: lock : cumulus_collator_path/chains/parachain_local_testnet/db/LOCK: No locks available\\\"))\")")

I have used the following url to start the parachain.
https://github

[2020-01-20 10:29] SelvarajDhaamodaran commented on #364
+ Chayan

From: Dhaamodaran, Selvaraj (Cognizant)
Sent: Monday, January 20, 2020 3:57 PM
To: substrate-developer-hub/substrate-developer-hub.github.io <reply@reply.github.com>; substrate-developer-hub/substrate-developer-hub.github.io <substrate-developer-hub.github.io@noreply.github.com>; Joshy Orndorff <notifications@github.com>
Cc: Mention <mention@noreply.github.com>; Saha, Shivabrata (Cogniza

[2020-01-20 15:08] jimmychu0807 opened #425 "Integrate Substrate playground into our tutorials"
- I (Jimmy) will try to integrate playground in off-chain worker tutorial and see how hard this process is

[2020-01-20 15:11] JoshOrndorff opened #426 "Integrate coding-heavy tutorials with Substrate Playground"
# Current Situation

Currently devhub's tutorials are hosted in two different ways.

### With the Main Devhub
For example, the [Private Network Tutorial](https://substrate.dev/docs/en/next/tutorials/start-a-private-network)
Pros:
* Theme matches the rest of devhub
* Fewer repos to track issues on

Cons:
* Harder to show code in complete context.
* Learners need their own dev environment to actuall

[2020-01-20 15:13] JoshOrndorff commented on #425
cc @jeluard

[2020-01-20 15:13] JoshOrndorff commented on #426
@jimmychu0807 has proposed to try this first with hi upcoming offchain workers tutorial https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/issues/425

[2020-01-20 15:38] jeluard commented on #426
@JoshOrndorff Definitely! Do you have some specific ideas how it would be integrated?
What would it look like in your mind?

[2020-01-20 15:46] JoshOrndorff commented on #426
What it would physically _look_ :eyes: like is very open to interpretation.

We like the fact that learners can read the tutorial text and work on code side by side in the ink! tutorial https://substrate.dev/substrate-contracts-workshop/#/

One off-the-cuff idea would be to have a markdown viewer integrated into the editor so learners could read through the tutorial as rendered markdown while usin

[2020-01-20 15:46] jeluard commented on #425
Can you (Jimmy) detail what you have in mind?

[2020-01-20 15:49] JoshOrndorff commented on #364
This is not the right place to post for help with cumulus. Please open an issue on the [cumulus workshop](https://github.com/joshorndorff/cumulus-workshop) if you're following that, or on the [cumulus repo](https://github.com/paritytech/cumulus/) itself if you suspect a bug in the cumulus code.

[2020-01-20 15:55] jeluard commented on #426
That could be easily done via a VSCode/theia plugin that would allow navigation alongside the code editor.

The main thing we should define is some standard way of defining:
- how to move from what step to another
- how each step is documented
- how to access before/after code skeleton

An easy way to implement that could be to rely on well known git tags (e.g. `step/1`, `step/1-finished`) and rel

[2020-01-21 06:11] kaichaosun opened #427 "Broken link for custom fees in doc"
In this [doc](https://substrate.dev/docs/en/development/module/fees) `custom wights` fails to link to:
https://github.com/substrate-developer-hub/recipes/tree/master/kitchen/modules/weights

[2020-01-21 17:40] #427 closed

[2020-02-04 11:25] coriolinus opened #440 "broken link in private network tutorial"
At the end of https://substrate.dev/docs/en/tutorials/start-a-private-network/customchain, the word "executor" is a link to https://substrate.dev/docs/en/tutorials/start-a-private-network/docs/conceptual/core/executor. That latter link is a 404.

[2020-02-04 16:09] riusricardo commented on #440
Fixed in #438

[2020-02-04 16:14] coriolinus commented on #440
@riusricardo @JoshOrndorff looks like you two added conflicting commits within minutes of each other fixing this issue. Thank you both! I have no idea which should take precedence.

[2020-02-04 16:15] apopiak opened #442 "Improve "Getting Started" Structure"
The [getting started page](https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/blob/source/docs/overview/getting-started.md) was somewhat confusing while I was starting out. It was not quite clear which steps I need to take to set up substrate.

My idea would be to split the process into different paths and make each of those straight forward (as in, you just follow it ste

[2020-02-06 12:24] riusricardo commented on #440
Fixed on #438

[2020-02-06 12:24] #440 closed

[2020-02-11 09:42] apopiak opened #449 "Substrate Version Information"
As a user following the tutorials I would like to know which version of substrate I'm developing with.

This would be the UI portion of the versioning as discussed [here](https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/pull/445#issuecomment-583892507).

[2020-02-13 18:31] kebab-mai-haddi opened #451 "Unable to see Alice and Bob on Accounts page"
Hi!

I followed the [tutorial](https://substrate.dev/docs/en/tutorials/creating-your-first-substrate-chain/interact) and opened the (HTTPS website](https://polkadot.js.org/apps/). It was blanked in the Accounts section. So, I tried the following but all failed:

i) Installed PokadotJS extension on Google Chrome
ii) Made my own account
iii) Tried to [host the interface locally](https://github.com/p

[2020-02-13 21:32] JoshOrndorff commented on #451
Let's start debugging by using the hosted version of apps. That's the one at https://polkadot.js.org/apps that you tried already. I wonder if you connected to the local node that you were running. On the Settings tab you should choose to connect to a "Local Node".

If this doesn't work, can you please open your javascript console and post any errors or warning that are there?

[2020-02-13 21:41] kebab-mai-haddi commented on #451
Its resolved. Going to setting, searched "Local Node" and I could see the accounts. Thank you so much!

It'd be great if this was there in the instructions.

[2020-02-13 21:41] #451 closed

[2020-02-14 00:06] JoshOrndorff commented on #451
Yes, that should be in the instructions. When I saw this issue, I opened #452 which adds it. So thanks for reporting this problem. You've already contributed to Substrate :)

[2020-02-14 13:50] apopiak opened #453 "Document imports in more detail"
Both the [Adding a pallet to your runtime](https://substrate.dev/docs/en/tutorials/adding-a-module-to-your-runtime/) as well as the [Creating an external pallet](https://substrate.dev/docs/en/tutorials/creating-a-runtime-module/) lack details on how to pull in dependecies like, e.g., the `Randomness` trait. We should create some documentation on how dependencies are pulled in.

[2020-02-16 12:11] danforbes opened #457 "Broken Link on Cryptography Overview"
The link to the Polkadot claims module that is used to verify Ethereum signatures is broken on the cryptography overview page. Despite the fact that the link in the raw markdown seems correct (https://github.com/paritytech/polkadot/blob/master/runtime/common/src/claims.rs) it does not resolve to the correct location (https://github.com/paritytech/polkadot/blob/master/runtime/src/claims.rs).

[code

[2020-02-16 16:31] JoshOrndorff commented on #457
It seems you've already observed that the link with the `/common` is the correct one.

I wonder if the confusing part is that our docs are versioned. It seems the `next` version ([published](https://substrate.dev/docs/en/next/conceptual/cryptography/), [source](https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/blob/source/docs/conceptual/cryptography/index.md)) was updat

[2020-02-17 10:08] danforbes commented on #457
Ah...now I get it! will certainly handle this in #456 :+1:

[2020-02-17 10:08] #457 closed

[2020-02-17 15:27] #411 closed

[2020-02-17 16:44] JoshOrndorff opened #458 "Update tutorial on visualizing node metrics"
The grafana endpoint is being removed from Substrate in https://github.com/paritytech/substrate/pull/4511 which means the [tutorial for using grafana](https://substrate.dev/docs/en/next/tutorials/visualizing-node-metrics/) will need to be updated.

This update should _not_ be made on `pre-v2.0-3e65111` version

[2020-02-18 06:22] dlguddus commented on #458
We are B-Harvest working on this : https://github.com/paritytech/substrate/pull/4511 which allows substrate built in prometheus. Our second milestone is to provide easy setup grafana connected to this prometheus exporter. I expect the linked tutorial can be updated based on our tutorial which will be provided in less than 4 weeks we expect.

We will drop additional comment here when our tutorial i

[2020-02-18 11:19] apopiak opened #460 "Add "How to build X data structure with substrate" recipe / article / section"
I think the [Storage API recipes](https://substrate.dev/recipes/3-entrees/storage-api/index.html) are great, but I think it would be great to have one condensed "How to build X data structure with substrate" that mentions the tradeoffs etc.

Candidates:
+ *covered*: How to build a `LinkedList`
+ *covered*: How to use the storage as a `Dictionary`/`HashMap`
+ How to use the storage as a `Trie`
+ Ho

[2020-02-18 20:11] JoshOrndorff commented on #458
The update has begun in https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/pull/461 You're welcome to conribute there if you like @dlguddus

[2020-02-19 09:45] riusricardo commented on #328
This update is done. No more references to substrate node scripts in 2.0.

[2020-02-19 09:45] #328 closed

[2020-02-19 09:49] riusricardo commented on #286
This issue has been resolved with `pre-v2.0-3e65111`

[2020-02-19 09:49] #286 closed

[2020-02-19 10:58] riusricardo opened #464 "Update Verifiable Credentials Tutorial"
Verifiable Credentials tutorial is on version 1.0.
* Upgrade to v2.0
* Add an alternative signature verification to the tutorial.

[2020-02-19 15:30] nodebreaker0-0 commented on #458
https://github.com/nodebreaker0-0/substrate/blob/prometheus_v0.4.0/utils/prometheus/README.md

It was written earlier, but it might be helpful for this tutorial.
In the future, we will support the entire dashboard (Mileston 2).
Setting up Prometheus is very easy, but the above address will help.

I think there should be a grafana tutorial and a prometheus tutorial at the same time.

[2020-02-19 16:55] #449 closed

[2020-02-19 23:13] bjornwgnr opened #465 "Subkey page is outdated"
https://substrate.dev/docs/en/next/development/tools/subkey

i.e. example under:

[2020-02-20 13:49] riusricardo commented on #465
Björn let me know if we need to expand the examples. I tried with the latest subkey and I was able to generate the next:
[code]
Using the generated **Secret phrase**:
[code]
[code]

If I use the **Secret phrase** without the **password** it generates a different address.
[code]

[2020-02-20 13:52] riusricardo commented on #465
I'll push an update to make it more clear and use the same **secret phrase**. They are not consistent and it could be confusing.

[2020-02-20 16:25] joepetrowski opened #467 "Add page about testing and logging info from the runtime"
![image](https://user-images.githubusercontent.com/25483142/74956120-de815480-53c2-11ea-8f07-5d980bd0825e.png)

[2020-02-20 17:16] #465 closed

[2020-02-23 05:34] joepetrowski opened #469 "Update all Subkey material"
Heads up: https://github.com/paritytech/substrate/pull/4954

[2020-02-26 23:22] charlesgdalton opened #472 "Extrinsics failing or UI not working"
A couple of weeks ago I went through the subtrate kitties workshop with no problems, and then deployed and played around with my own copy. One day, however, everything broke. When submitting transactions through the https://substrate-ui.parity.io/ UI, I always got 'extrinsic failed,' even if it was balance transfers from Alice to Bob.

Now, when I deploy a node without the --dev flag (using ./targ

[2020-02-27 01:09] #472 closed

[2020-02-28 20:24] drandreaskrueger opened #473 "v2 tutorials?"
Hello!
Thanks for your great material and tutorials.

Now that v1 seems [EOL](https://github.com/polkadot-js/apps/issues/2205#issuecomment-579227198), and I heard about the "feature freeze" of the v2 version ... where can I find a list of all those **tutorials & manuals that target v2** ?

E.g. this excellent workshop is still based on `-b v1.0` https://substrate.dev/docs/en/tutorials/start-a-priv

[2020-02-28 20:31] drandreaskrueger commented on #473
P.S.: How about a flag on the top of every page of every manual - which signals for which version that page is suitable? Perhaps even until which future version it might be useful, i.e. "expiration date".

[2020-02-28 20:47] drandreaskrueger opened #474 "v2 installing-substrate#manual-build"
https://github.com/paritytech/substrate/blob/3e651110aa06aa835790df63410a29676243fc54/README.md points to: getting started instructions.

https://substrate.dev/
https://substrate.dev/en/who/
https://substrate.dev/en/who/runtime-developer

Install Substrate #manual-build
https://substrate.dev/docs/en/getting-started/installing-substrate#manual-build

[code]

I think it's this file https://github.co

[2020-02-28 20:57] drandreaskrueger commented on #474
[code]
right?

[2020-02-28 21:37] shawntabrizi commented on #474
Somehow you are falling into our v1.0 docs. See the issue here:

https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/pull/463

That PR may close some of this issue for you.

All the latest install instructions for Substrate can be found here:

https://substrate.dev/docs/en/overview/getting-started#manual-installation

[2020-02-28 21:52] drandreaskrueger commented on #474
wow, fast answer. Thanks a million.

Try the above sequence of URLs --> that is how I ended up on the outdated page.

[2020-02-28 21:57] JoshOrndorff commented on #473
The private network tutorial you linked above has been updated. Here is the new version which works with `pre-v2.0-3e65111` https://substrate.dev/docs/en/tutorials/start-a-private-network/

And yes, currently we are recommending building on 3e65111 for experimentation. That is the version that is currently best documented.

I'm sorry you've struggled with the versioning. It has been tough for us w

[2020-02-28 21:57] #473 closed

[2020-02-28 21:57] shawntabrizi opened #475 "Update links on https://substrate.dev/who/runtime-developer/"
See https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/issues/474

[2020-02-28 21:58] shawntabrizi commented on #474
Opened an issue for the old links. Thanks for pointing that out. Feel free to ask any further questions about installing substrate here, or close the issue if you think your issue is resolved.

[2020-02-28 22:15] JoshOrndorff commented on #474
Seems @drandreaskrueger has been helped and #475 has a specific call to action, so I'm closing this for now.

[2020-02-28 22:15] #474 closed

[2020-02-28 23:09] drandreaskrueger commented on #473
Perfect. This time, I just asked before, to minimized the trouble. So ... all good.

Thanks a lot.  Have a great weekend.

[2020-02-29 16:09] JoshOrndorff commented on #475
These "who" pages, like the tutorial page, are inherently troublesome because they are not versioned along with the docs that they link to. That means on each new version we will have to manually update the "who" links. Further, @thisisvilla is building an entirely new site that, as I understand, will be made public when Substrate 2.0 is launched (maybe a month from now?).

Thus, I recommend just

[2020-03-01 19:47] drandreaskrueger opened #476 "cargo test --release --all ?"
just an idea, can't the tests be run with `--release` ?

because [this page](https://substrate.dev/docs/en/overview/getting-started#substrate) says

but when I do the second part, then everything gets compiled AGAIN ... in the `target/debug` folder.

So, here's the simple idea:

    cargo test --release --all

wrong idea?

PS: I have just tried it out and _most_ tests are passing. The two that are

[2020-03-02 00:00] drandreaskrueger opened #477 "babe no more? Manual for consensus keys?"
# no more babe keys?

*My scripts to create a 4-nodes-network with my own keys ceased to work.*

The scripts were done with subkey-v2 and node-template-v2 but an older version.

The problem is that `babe` is now missing from the `build-spec` chainspec.

This is a more verbose than necessary, because I had to work backwards myself, to actually understand where the breaking changes had happened. At

[2020-03-02 14:11] JoshOrndorff commented on #477
Hi there. You've correctly observed that Babe has been removed from the node template. It is still part of Substrate and can be re-installed in your own node if you prefer Babe (and I can help when/if you need help). Babe has been replaced with Aura in the node template, and using Aura may also solve your problem with less work than re-installing babe.

The updated version of the tutorial you link

[2020-03-02 14:19] JoshOrndorff commented on #476
Yes, it's fine to run tests in `--release` mode and you should get the same results either way. :+1:

I'm not familiar enough with those tests to know what they are testing exactly, but I too would expect them to pass. If those failing tests are interfering with your work, please open an issue against the main Substrate repository.

[2020-03-02 14:20] #476 closed

[2020-03-03 02:58] drandreaskrueger commented on #477
Now that makes it easy. Thank you very much!

[2020-03-03 03:10] drandreaskrueger commented on #477
Global search&replace (babe,aura) made it work again already, almost.

It needed only two more changes.

As now aura and grandpa have slightly different lists:

[code]

And the reason is - thanks a lot for pointing me to that manual - very understandable:

Secondly, I had to set bootNodes=[] in the chainspec.json and chainspec-raw.json, otherwise I got a

(I am reading the bootnode id from the log

[2020-03-03 03:39] drandreaskrueger commented on #476
Great. Thanks.

I suggest you change your manual to `--release`, that saves compiling `target/debug`.

[2020-03-03 12:53] JoshOrndorff commented on #475
Fixed in #479

[2020-03-03 12:53] #475 closed

[2020-03-03 13:16] #477 closed

[2020-03-03 13:20] JoshOrndorff commented on #476
https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/pull/481

[2020-03-03 19:13] drandreaskrueger commented on #477
Thanks a lot, @JoshOrndorff and @shawntabrizi, for you perfect & quick help. Perhaps you are interested in this little exercise I tried today, when extending and testing my scripts:

| number of interconnected nodes | Total memory used | memory per node in MB |
|--------------------------------|-------------------|-----------------------|
| 10                             | 833               | 83

[2020-03-05 18:01] pscott opened #483 "Dead link in docs"
https://substrate.dev/docs/en/tutorials/adding-a-module-to-your-runtime  mentions "other basic tutorials" which links to https://substrate.dev/docs/en/tutorials/tutorials/creating-your-first-substrate-chain.md which points to a 404 :(

[2020-03-08 15:16] mnlsbn opened #487 "Issue with api.query while building PoE dApp"
while adding the custom react component, i had the following issue in my front-end
![image](https://user-images.githubusercontent.com/26409790/76165522-f7765d80-6157-11ea-9a33-31f2b354a8a6.png)
Any idea to solve this issue ?
Thanks

[2020-03-09 14:13] riusricardo commented on #487
Hey @mnlsbn thanks for getting in touch. Can you give more details on what step you get the issue?

One option is that you're running the front-end-template using the unmodified code from the node-template. It is unable to find the storage value proofs because it doesn't exists in the template code. This storage value is created on the tutorial.

[2020-03-09 21:24] mnlsbn commented on #487
Hey @riusricardo thanks for your reply. I have the issue when i try to add the react component in the front-end template. After replacing the code in the TemplateModule.js, i get an error for this line of code "api.query.templateModule".

[2020-03-09 23:00] riusricardo commented on #487
What is really happening is that your Substrate node-template doesn't contains the final code.
Does your rust code contains this section: https://substrate.dev/docs/en/tutorials/build-a-dapp/pallet#callable-pallet-functions?

It should be working if your local node has the correct Substrate code.

[2020-03-10 12:59] JoshOrndorff commented on #487
Remember that you'll need to purge your chain as described in the final section before the UI stuff https://substrate.dev/docs/en/tutorials/build-a-dapp/pallet#compile-your-new-pallet

[code]

[2020-03-11 20:51] mnlsbn commented on #487
Many thanks @riusricardo @JoshOrndorff , I start again from the "building a custom pallet" step and it works fine

[2020-03-11 20:51] #487 closed

[2020-03-16 16:15] JoshOrndorff commented on #458
Done in #461 and #488

[2020-03-16 16:15] #458 closed

[2020-03-16 16:18] JoshOrndorff commented on #442
I'm closing it because it has been discussed in many places and partially addressed in the [new cms repo](https://github.com/substrate-developer-hub/substrate-cms).

If further refinements are desired the best course of action is to open a new issue against that repo.

[2020-03-16 16:18] #442 closed

[2020-03-16 16:20] JoshOrndorff commented on #426
moved to https://github.com/paritytech/substrate.io/issues/1

[2020-03-16 16:20] #426 closed

[2020-03-16 16:20] JoshOrndorff commented on #425
Dupe of 426, now moved to https://github.com/paritytech/substrate.io/issues/1

[2020-03-16 16:20] #425 closed

[2020-03-16 16:22] JoshOrndorff commented on #424
Closing because this is not totally actionable. Would the docker image be just for running a node or for developing on it. If just running, then which node would it run. Feel free to re-open in the new [cms repo](https://github.com/substrate-developer-hub/substrate-cms).

[2020-03-16 16:22] #424 closed

[2020-03-16 16:24] JoshOrndorff commented on #421
This is closed pretty well by https://github.com/substrate-developer-hub/recipes/pull/162 and https://github.com/paritytech/substrate/pull/4989 . Feel free to re-open in the new cms repo if necessary.

[2020-03-16 16:24] #421 closed

[2020-03-16 16:25] #392 closed

[2020-03-16 16:27] #324 closed

[2020-03-16 16:27] #312 closed

[2020-03-16 16:28] JoshOrndorff commented on #304
Closing this because comms has done a lot with branding since the retreat. cc @thisisvilla for context.

[2020-03-16 16:28] #304 closed

[2020-03-16 16:33] #272 closed

[2020-03-16 16:35] #210 closed

[2020-03-16 16:35] JoshOrndorff commented on #206
This is now considered out of scope for devhub, and is the job of the comms team. This content will be part of substrate.io.

cc @thisisvilla

[2020-03-16 16:35] #206 closed

[2020-03-16 16:37] JoshOrndorff commented on #185
I believe this issue is stale. I'm closing it because the entire repo is being deprecated and moved to https://github.com/substrate-developer-hub/substrate-cms

@burdges If there are further corrections to make to the session key article (or any other article), please do open issues in the new repo.

[2020-03-16 16:37] #185 closed

[2020-03-16 16:43] #65 closed

[2020-03-16 16:51] JoshOrndorff commented on #145
This issue is specific to the docusaurus site and algolia search. Closing as a new search will be built for the new site.

[2020-03-16 16:51] #145 closed

[2020-03-16 16:51] JoshOrndorff commented on #184
stale

[2020-03-16 16:51] #184 closed

[2020-03-16 16:52] #160 closed

[2020-03-16 16:53] JoshOrndorff commented on #66
Offchain workers have been documented in both the recipes and main Substrate repo. I'm closing this as we switch to the new CMS repo. Feel free to open specific actionable issues about any of these ideas in the new repo.

[2020-03-16 16:53] #66 closed

[2020-03-18 15:18] Icatream opened #502 "error: failed to run custom build command for `librocksdb-sys v6.2.4`"
I have follow the [installation](https://substrate.dev/docs/en/overview/getting-started#getting-started-on-windows), but got this error.

#### Here are the buildtools version.

platform: win10 1809
os-version: 17763.1098

rust toolchain version:
nightly-x86_64-pc-windows-msvc (default)
rustc 1.43.0-nightly (c20d7eecb 2020-03-11)

clang version:
clang version 9.0.0 (tags/RELEASE_900/final)
Target:

[2020-03-19 14:04] josemsoler opened #505 "Rust WASM toolchain not installed, please install it!"
Creating Your First Substrate Chain, in a Win10 Home OS.  do not work.

when I run > cargo build --release.
I try to find a solution but it is not possible.
Can you help me?

I need to build a 4 nodes network with a chain (wcn-chain) then work with Ink smart contracts.

thanks

[2020-03-19 16:02] JoshOrndorff commented on #505
Have you followed the instructions for getting started on Windows? https://substrate.dev/docs/en/overview/getting-started#getting-started-on-windows

Did you get any error messages while following those instructions?

Step 3 should have installed the rust wasm toolchain. Please ensure you've followed the instructions, take some simple measures like restarting your computer, and report back.

[2020-03-19 18:46] josemsoler commented on #505
Hi, thank you for your reply

No problems with installation until last step
attached screenshot with full compilation

[image: image.png]

El jue., 19 mar. 2020 a las 17:03, Joshy Orndorff (<notifications@github.com>)
escribió:

[2020-03-19 20:21] joepetrowski opened #506 "KB: Client - document logging capabilities"
Document logging targets (`afg, sync, ...`), verbosity (`error, warn, info, debug, trace`), and CLI flags to activate.

[2020-03-20 02:34] Icatream commented on #502
Some people has problem with compiling `librocksdb-sys v6.2.4`, at 2018 year.  They changed clang version and solved this problem.
I don't know if my problem came from version conflicts of clang or others.
I had run this in wsl, that works fine.

[2020-03-20 12:14] JoshOrndorff commented on #502
I'm happy to hear that you've completed the tutorial. You will probably have a better time working in WSL.

I searched for someone who could help with your Windows issues but couldn't find anyone. I'll keep this issue open since we didn't really solve it so much as worked around it.

[2020-03-20 14:13] joepetrowski opened #507 "KB: Runtime - Document metadata"
Document how metadata works and how to interact with it.

[2020-03-20 14:59] josemsoler commented on #505
![image](https://user-images.githubusercontent.com/45605037/77175939-a6edf100-6ac3-11ea-9d5a-c42ca6bb9c8c.png)
No problems with instalation process. Only in the compilation process. Attached screenshot with full details.

[2020-03-20 16:32] apopiak commented on #505
If you have a look at the Readme it asks you to execute `scripts/init.sh`.
That script unfortunately does not work in Windows by default (you could try WSL (Windows Subsystem for Linux)).
Looking at the script, though, it's pretty short and mostly executes the following:
[code]
So my recommendation would be to execute that and try again.

[2020-03-20 16:34] NikVolf commented on #505
You should install wasm32-unknown-unknown for nightly too:
`rustup +nightly target add wasm32-unknown-unknown`

[2020-03-20 16:35] JoshOrndorff commented on #505
@apopiak @NikVolf Those are two different ways to execute the same command, right? The version @apopiak typed is shown executing successfully in the screenshot.

[2020-03-20 16:36] apopiak commented on #505
Damn, didn't see that :sweat_smile:

[2020-03-20 16:51] JoshOrndorff commented on #505
This is a workaround that [others have found useful](https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/issues/502).

Here is some [info about WSL](https://docs.microsoft.com/en-us/learn/modules/get-started-with-windows-subsystem-for-linux/).

[2020-03-29 09:06] master-davidlee opened #516 "some questions about tutorial Creating Your Private Network"
i finish every step in the tutprial and finally i got my private Network . I have three peers and three validators .But the chain just import new blocks don't finalized blocks .I don't konw why ?  I have added their grandpa keys into their keystores all of them . HELP!
![image](https://user-images.githubusercontent.com/49427668/77845207-83bbf380-71df-11ea-92ce-cb18c47f4ec3.png)this is my chain spe

[2020-03-29 13:59] #516 closed

[2020-04-10 13:15] TovarishFin opened #520 "missing text for decl_module!"
It looks like there is some missing text when viewing this link:
https://substrate.dev/docs/en/development/module/declaration

[2020-04-11 12:14] TovarishFin opened #522 "incorrect pallet path in tutorial"
at https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/blob/source/docs/tutorials/creating-a-runtime-module.md, there is the following code shown:
[code]
should this not be as follows instead?
[code]
If using the original block of code, it would just use the already included pallet template rather than the pallet that is cloned earlier in the tutorial (at least this is how

[2020-04-11 15:04] JoshOrndorff commented on #522
Hello @TovarishFin Thanks for this issue.

I've looked at the file you linked, but I do not see the snippet you quoted.

[2020-04-11 15:35] TovarishFin commented on #522
Sorry about that. I clicked the edit button in the tutorial and it took me to that file... not sure how the tutorials are built and deployed but you can find the block mentioned above in the actual tutorial link (section: Add Your Pallet to Your Node):
https://substrate.dev/docs/en/tutorials/creating-a-runtime-module/.
I assumed that the markdown file would match the tutorial.

[2020-04-11 18:48] JoshOrndorff commented on #522
Okay got it. Thanks for reporting. I've fixed this in #523.

[2020-04-12 08:22] #522 closed

[2020-04-23 16:10] aphelionz commented on #505
Hey there, having this issue on Ubuntu, locally.

[code]

[2020-04-29 16:15] aphelionz commented on #505
User Error :D

I had a `~/.cargo/config` file that was messing stuff up. Removed that and it works.

For future reference, how would I make this compatible with:

[code]

[2020-05-20 12:11] jefao01 opened #529 "a"
cargo install --force --git https://github.com/paritytech/substrate subkey

[2020-05-20 15:51] JoshOrndorff commented on #529
@jefao01 is there a problem you're having or a question you'd like to ask? If so please ask and re-open. I'm closing this for now because this repo is deprecated.

[2020-05-20 15:51] #529 closed

[2020-05-21 21:11] TomaszWaszczyk opened #531 "Links to references does not work"
Here the links does not work: https://github.com/substrate-developer-hub/substrate-developer-hub.github.io/edit/source/docs/conceptual/runtime/frame.md

(References section)

[2020-06-03 12:10] noslav opened #536 "Start a private network tutorial not found."
https://substrate.dev/docs/en/next/tutorials/start-a-private-network/
https://substrate.dev/docs/en/next/tutorials/creating-your-first-substrate-chain/
https://substrate.dev/docs/en/next/tutorials/build-a-dapp

[2020-06-04 12:55] JoshOrndorff commented on #536
Here are the correct links.

https://substrate.dev/docs/en/tutorials/start-a-private-network/
https://substrate.dev/docs/en/tutorials/create-your-first-substrate-chain/
https://substrate.dev/docs/en/tutorials/build-a-dapp/

You can find them all in the index at https://substrate.dev/en/tutorials. Our Substrate.dev site has been updated recently, so sorry if that was confusing for you.

Would you m

[2020-06-04 12:55] #536 closed

[2020-06-04 15:04] noslav commented on #536
https://substrate.dev/ -> [Getting Started](https://substrate.dev/docs/en/getting-started/)

[2020-06-04 19:02] krichard410 opened #543 "Link leads to 404 site"
If you click on 'installation instructions' in Substrate prerequisites section on this page: https://substrate.dev/substrate-contracts-workshop/#/0/setup
it leads to a 404 page.